*.iml
build/*
.gradle/*
.idea/*
.slcache/*
*.tgz
.settings/
.project
.classpath
node_modules
.cache-main
.cache-tests
.tmpBin/
grails-app/assets/compile/

grails-app/conf/application-backup.yml
/.asscache
/npm-debug.log
