language: groovy
jdk:
- openjdk8
sudo: false
branches:
  only:
  - master
  - develop
#  - /^feature\/.*$/
#  - /^release\/.*$/
#  - /^feature\/.*$/
#  - /^hotfix\/.*$/
addons:
  apt:
    packages:
    - gdal-bin
before_cache:
- rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
- rm -fr $HOME/.gradle/caches/*/plugin-resolution/
cache:
  directories:
  - $HOME/.gradle/caches/
  - $HOME/.gradle/wrapper/
before_install:
  - npm -dd install
after_success:
  - '[ "${TRAVIS_PULL_REQUEST}" = "false" ] && travis_retry ./gradlew publish'
env:
  global:
  - secure: O5ZIzWlwy6mzpYcKQ1aK7PBDk76H56e5SAZEEFjiL0SRYkScVqMZt40JKyfxQ/ag9QX3F2aMNTaC0cZwGXC2wJIX23pEfEyBcsHYoxxJMbvO7D+eRzfAVLRnGD9k2rT8Nf9UbQ6WXECTxTYImHyKQqxw/mT9FWqukhNuQ/7j4Cgm3us9uR+MpAJDCs7/+1U8jCcx2OZT+FuqMqYbV88C0dmZ7UK6fWNV/zJnPeldb2bFYbJvxHFvb1nNNlUxE9UszFR8lQRF/PdEexci9i5YWieQ8z8TTx6YBbem9YTeXfAClmR0nzumMAkSoj/Yi5PNl47C9DHo2l4N9evlwSBXc24Foi7P3H9L9BtdgW3PTDVY5d5vztcOoSfkbXqw89Y/UqAzXEluCCD84k0e00vgsJ3pJgU4Oq8EVMY7r/XDj/fWP67rtHcxQ1LbeslD5tH/qHOzEXiJFyuJUNVbe/eIBrphYWdR8V2Yz4jk9OV2O6xgSpZ71Zz/lXldmyVVyur9N7fletc5QsXq29+qbaaoxkGXHfxRBLiG/aMn/E39RVAfvTtyNpHDyG0MaRh4sM9rG5agqjq1dhq9EJUyZlfEO6iG4XWPvYoOjQoKsVyEpJxzuqVzgFmcc2dtuZ+4tmHD2aaz+CW/GPyN9BlFODBfiuK3jKYLpXw0pulsCsSci7A=
  - secure: 3kCY65JFYzldPhdqWlco2guc4eFsuRiwE6MkyQVovvuxl0uod0CkgJCMLImq8sNKqlZux22C8OQBVmfuFrNUQ39r+Ts9hR7sgOi8ewTNickjXXkaBxptPx/1Zd9OnmaXKEm5aJnS05pC1OyiwA/kML2/cKASaep4vplz1DXg+nsF2UbrgdMGnhjVmtAZ6geP88WZevckfGg+bUh9Dc/IUHrK4PA1WGZBMyr/1updzk8lU53cwv9hxVkPZr1VkdmSrJo3AHfrK78WwuWXECtCd74Fjn+OTv/ntqhUVV53++0F8cLqV43lSGNkZB9BaHO0uWoE+TPrAaHKH6FeLwqAJRUioZRTEC9dLWsDNO+KHcTxLXsypA2jkdbUEas3JYl3TRm13e+42MQqB9b9HoMSb5vOteKbcLHpNLJ2OKnpPfNB2nY6au4QclSpEWmnNSLK4BDnmtEKmt/YyvQojgEaqxvzJ5IXIx6QWstMjY/B2EneG2akjaota5Het9O1Bseie5p2MWhIBirkwqbFMU0VkjpqQI3qSxgsu3m920+BIEiWevf9vJ94KRHlHTg/BCSNnwPJFT+pzU7gdfY1Jj1yhOpwN94bnmE99Uo4rsSnlXXCUGJWBLmt+RbdDZbT5O6utbNPN1m7e/sCFDBuxPbadPOEE9ck2wUdcpC80r8Zx3k=
