<div class="modal-header">
    <h4 class="modal-title">Add area</h4>
</div>

<div class="modal-body" style="padding:20px">
    <div ng-show="step == 'default'" style="padding:10px">
        <span>Select method to define area.</span><br/>

        <div ng-show="!inputData.importArea">
            <br/><span>Interact with the map</span><br/>
            <input type="radio" ng-model="area" name="addArea_area" value="drawBoundingBox">Draw bounding box<br/>
            <input type="radio" ng-model="area" name="addArea_area" value="drawPolygon">Draw polygon<br/>
            <input type="radio" ng-model="area" name="addArea_area" value="drawPointRadius">Draw point and radius<br/>
            <input type="radio" ng-model="area" name="addArea_area"
                   value="pointOnLayer">Select area from polygonal layer<br/>

            <br/><span>Searching</span><br/>
            <input type="radio" ng-model="area" name="addArea_area"
                   value="addressRadius">Radius centered on street address<br/>
            <input type="radio" ng-model="area" name="addArea_area" value="pointRadius">Create radius from point<br/>
            <input type="radio" ng-model="area" name="addArea_area" value="gazetteer">Gazetteer polygon<br/>

            <br/><span>Preset areas</span><br/>
            <input type="radio" ng-model="area" name="addArea_area" value="preset_World">World<br/>
            <input type="radio" ng-model="area" name="addArea_area" value="preset_Australia">Australia<br/>
            <input type="radio" ng-model="area" name="addArea_area" value="preset_Current_extent">Current extent<br/>
        </div>

        <br/><span>Import</span><br/>
        <input type="radio" ng-model="area" value="importShapefile" ng-disabled="!isLoggedIn()">Import Shapefile<span
            ng-show="!isLoggedIn()">&nbsp;(must be logged in)</span><br/>
        <input type="radio" ng-model="area" value="importKML" ng-disabled="!isLoggedIn()">Import KML<span
            ng-show="!isLoggedIn()">&nbsp;(must be logged in)</span><br/>

        <br/><span>Other</span><br/>
        <div ng-show="!inputData.importArea">
            <input type="radio" ng-model="area" name="addArea_area"
                   value="environmentalEnvelope">Define environmental envelope<br/>
        </div>
        <input type="radio" ng-model="area" name="addArea_area" value="wkt">Enter area coordinates (WKT)<br/>
        <div ng-show="!inputData.importArea">
            <input type="radio" ng-model="area" value="mergeArea">Merge map areas (TODO)<br/>
        </div>
    </div>

    <div ng-show="step == 'addressRadius'">
        <br/><label style="width: 100px">Search address</label>
        <google-places location="location" area="selectedArea.name"></google-places>
        <br/><label style="width: 100px" for="radius">Radius (km)</label>
        <input style="width: 150px" id="radius" ng-model="circle.radius">
        <br/>
    </div>

    <div ng-show="step == 'pointRadius'">
        <br/><label style="width: 150px">Area name</label>
        <input ng-model="selectedArea.name"><br/>
        <label style="width: 250px" for="longitude">Longitude (decimal degrees)</label>
        <input style="width: 80px" type="number" min='-180' max="180" id="longitude" ng-model="circle.longitude">
        <br/>
        <label style="width: 250px" for="latitude">Latitude (decimal degrees)</label>
        <input style="width: 80px" type="number" min='-90' max="90" id="latitude" ng-model="circle.latitude">
        <br/>
        <label style="width: 250px" for="radius2">Radius (km)</label>
        <input style="width: 80px" id="radius2" ng-model="circle.radius">
        <br/>
    </div>

    <div ng-show="step == 'gazetteer'">
        <label style="width: 100px" for="gazAutoComplete">Search gazetteer</label>
        <input style="width:250px" gaz-auto-complete id="gazAutoComplete" on-custom="setPid" userobjects="false">
        <br/>
        <div ng-show="selectedArea !== undefined && selectedArea.wkt !== undefined && selectedArea.wkt.startsWith('POINT')">
            <label style="width: 100px" for="locationRadius">Radius (km)</label>
            <input style="width:80px" type="number" id="locationRadius" ng-model="locationRadius" value="10">
        </div>
    </div>

    <div ng-show="step == 'importShapefile' || step == 'importKML'">
        <label style="width: 100px" for="myAreaName">Area Name</label>
        <input type="text" style="width:50%" id="myAreaName" ng-model="myAreaName" value="My Area">
        <button class="btn btn-primary" ngf-select="uploadFile($file)">Import file</button>
        <uib-progressbar animate="false" value="uploadProgress" type="success"><b>{{uploadProgress}}%</b>
        </uib-progressbar>
        <br/>

        <div ng-show="step == 'importShapefile'">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <td align="center"><input type="checkbox" ng-click="toggleAllAreaCheckbox()" ng-model="checkAll">
                    </td>
                    <td ng-repeat="header in areaHeader">
                        <a href="#" ng-click="sortType = header">
                            {{header}}
                        </a></td>
                </tr>
                </thead>
                <tbody style="height:200px;overflow:scroll;">
                <tr><img ng-src="{{shpImg}}" alt="No image"/></tr>
                <tr ng-repeat="area in areaList">
                    <td align="center"><input type="checkbox" ng-click="selectShpArea()" ng-model="area.selected"></td>
                    <td ng-repeat="header in areaHeader">
                        {{area.values[header]}}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- <div ng-show="step == 'importKML'">

     </div>-->

    <div ng-show="step == 'wkt'">
        <label style="width: 100px">Area name</label><input ng-model="selectedArea.name">
        <br/><label style="width: 100px;vertical-align:top">WKT</label><textarea style="width:250px;height:300px"
                                                                                 ng-model="selectedArea.wkt"></textarea>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="$close()">Cancel</button>
    <button class="btn btn-default" type="button" ng-click="step = 'default'" ng-disabled="step == 'default'">&lt; Back
    </button>
    <button class="btn btn-primary" type="button" ng-click="ok()" ng-disabled="isDisabled()">Next &gt;</button>
</div>