<div class="modal-header">
    <div class="modal-title">Area report - {{area.name}}</div>
</div>

<div class="modal-body">
    <div class="container">
        <spinner/>
        <table class="table table-striped">
            <tbody style="height:300px;overflow:scroll;display:block">
            <tr ng-repeat="item in items">
                <td style="width:250px">{{item.name}}</td>
                <td style="text-align:right;width:80px" ng-switch="item.value">
                    <i ng-switch-when="" class="fa fa-refresh fa-spin" style="font-size:18px"></i>
                    <span ng-switch-default>{{item.value}}</span></td>
                <td style="width:70px">
                    <button style="float:right;"
                            ng-show="item.query !== undefined && (item.occurrences === undefined || !item.occurrences)"
                            class="btn btn-xs btn-default" ng-click="list(item)">list
                    </button>
                </td>
                <td style="width:70px">
                    <button style="float:right;"
                            ng-show="item.query !== undefined && (item.map === undefined || item.map)"
                            class="btn btn-xs btn-default"
                            ng-click="map($event, item)">Map all
                    </button>
                </td>
                <td style="width:70px">
                    <button style="float:right;"
                            ng-show="item.query !== undefined && (item.map === undefined || item.map)"
                            class="btn btn-xs btn-default"
                            ng-click="sample(item)">Sample
                    </button>
                </td>
                <td style="width:100px;padding-left:20px"><a
                        ng-show="item.query !== undefined && (item.occurrences === undefined || item.occurrences)"
                        target="_blank"
                        href="{{item.query.ws}}/occurrences/search?q={{item.query.qid}}&fq={{item.extraQ.join('&fq=')}}">View
                    Records<br/></a>
                    <a ng-show="item.link" target="_blank" href="{{item.link}}">{{item.linkName}}</a></td>
            </tr>
            </tbody>
        </table>
        <a download="{{area.name}}-area-report"
           ng-href="{{exportUrl}}" ng-disabled="exportUrl == null">
            Download
        </a>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$close()">Close</button>
</div>