<div class="modal-header">
    <button i18n="1" type="button" class="close" ng-click="$close()">×</button>
    <h4 i18n="52" class="modal-title" name="createSpeciesList">Create a species list</h4>
</div>

<div class="modal-body">
    <div ng-show="step == '1'" style="padding:10px">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><span i18n="277">Find species to add</span>
                </h3>
            </div>
            <div class="panel-body">
                <span i18n="53">Enter scientific names separated by new line, tab, comma or semicolon</span>
                <div class="form-group">
                    <textarea type="text" rows=4 class="form-control" ng-model="newItems" ng-trim="false" name="speciesInput"></textarea>
                </div>
                <div class="btn-group btn-group-xs">
                    <button type="button" i18n="55" class="btn btn-xs btn-default " ng-click="newItems = ''">Clear
                    </button>
                    <button type="button" i18n="54" class="btn btn-xs btn-primary" ng-click="parseList()" name="parseSpeciesList">Add</button>
                </div>

                <hr/>

                <span i18n="278">Or, Upload a list of scientific names</span>
                <div class="form-group">
                    <input type="file" id="file" name="file" ng-model="file"
                           ngf-max-size="maxFileSize"
                           ngf-select="validateFile($newFiles)">
                </div>
                <div class="btn-group btn-group-sm" ng-show="false">
                    <button i18n="57" class="btn btn-xs btn-default" ng-click="uploadCSV()">Upload</button>
                </div>

                <hr/>

                <span i18n="279">Or, Search for a species by scientific or common name</span>
                <div>
                    <label>
                        <input style="width:400px" id="speciesAutoComplete" species-auto-complete on-custom="addQ">
                        <br/><span i18n="247">For example: "Heleioporus australiacus" or "Giant Burrowing Frog"</span>
                    </label>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 i18n="280" class="panel-title">Species list</h3>
            </div>
            <div class="panel-body">
                <table class="table table-striped layer-table" name="speciesList">
                    <thead>
                    <tr>
                        <td></td>
                        <td><b><span i18n="59">scientific name</span></b></td>
                        <td><b><span i18n="60">family</span></b></td>
                        <td><b><span i18n="61">kingdom</span></b></td>
                        <td><b><span i18n="62">count</span></b></td>
                    </tr>
                    </thead>
                    <tr ng-repeat="item in matchedItems">
                        <td ng-click="matchedRemove(item)"><span class="glyphicon glyphicon-trash"></span></td>

                        <td ng-if="item.acceptedConceptGuid">{{item.name}}</td>
                        <td ng-if="item.acceptedConceptGuid">{{item.family}}</td>
                        <td ng-if="item.acceptedConceptGuid">{{item.kingdom}}</td>
                        <td ng-if="item.acceptedConceptGuid">{{item.count}}</td>

                        <td ng-if="!item.acceptedConceptGuid">{{item.searchTerm}}</td>
                        <td i18n="64" ng-if="!item.acceptedConceptGuid" ng-click="matchedSearch(item)">click to
                            search
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div ng-show="step == '2'" class="well">
        <span i18n="65" style="width:150px;display:inline-block">List Name:</span><input type="text" ng-model="newListName" name="newListName" style="width: 60%"/><br>
        <span i18n="66" style="width:150px;display:inline-block">List Description:</span><input type="text" ng-model="newListDescription" value=""/><br>
        <span i18n="492" style="width:150px;display:inline-block">List Type:</span><select ng-model="newListType"  ng-options="item.label for item in listTypes"/><br>
<!--        <span i18n="67" style="width:150px;display:inline-block">Make Private:</span><input type="checkbox" ng-model="makePrivate" value="false"/><br>-->
    </div>
</div>

<div class="modal-footer">
    <button i18n="45" class="btn btn-default" type="button" ng-click="$close()">Cancel</button>
    <button i18n="39" class="btn btn-primary" type="button" ng-click="ok()" name="next"
            ng-disabled="matchedGuids().length == 0">
        Next &gt;
    </button>
</div>
