<div class="modal-header">
    <h3 class="modal-title">Create a species list</h3>
</div>

<div class="modal-body">

    <div ng-show="step == '1'" style="padding:10px">
        <div class="col-lg-8">
            Enter scientific names separated by new line, tab, comma or semicolon<br>
            <textarea type="text" rows=4 class="form-control" ng-model="newItems" ng-trim="false"></textarea>
            <button class="btn btn-xs btn-primary" ng-click="parseList()">Add</button>
            <button class="btn btn-xs " ng-click="newItems = ''">Clear</button>
        </div>
        <div class="col-lg-4">

            <div class="well-sm">
                Upload a list
                <input type="file" id="file" name="file" ng-model="file">
                <button class="btn btn-xs" ng-click="uploadCSV()">Upload</button>
            </div>
        </div>
        <div class="col-lg-12" style="padding-top:30px;padding-bottom:30px">
            Add from search
            <input style="width:400px" id="speciesAutoComplete" species-auto-complete on-custom="addQ">
        </div>
        <div>
            <table class="table table-condensed">
                <tr>
                    <td></td>
                    <td><b>scientific name</b></td>
                    <td><b>family</b></td>
                    <td><b>kingdom</b></td>
                    <td><b>count</b></td>
                </tr>
                <tr ng-repeat="item in matchedItems">
                    <td ng-click="matchedRemove(item)">x</td>

                    <td ng-if="item.acceptedConceptGuid">{{item.name}}</td>
                    <td ng-if="item.acceptedConceptGuid">{{item.family}}</td>
                    <td ng-if="item.acceptedConceptGuid">{{item.kingdom}}</td>
                    <td ng-if="item.acceptedConceptGuid">{{item.count}}</td>

                    <td ng-if="!item.acceptedConceptGuid">{{item.searchTerm}}</td>
                    <td ng-if="!item.acceptedConceptGuid" ng-click="matchedSearch(item)">click to search</td>
                </tr>
            </table>
        </div>
    </div>

    <div ng-show="step == '2'">
        List Name: <input type="text" ng-model="newListName" style="width: 60%"/><br>
        List Description: <input type="text" ng-model="newListDescription" value=""/><br>
        Make Private: <input type="checkbox" ng-model="makePrivate" value="false"/><br>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="step = '1'" ng-disabled="step == '1'">&lt; Back</button>
    <button class="btn btn-default" type="button" ng-click="$close()">Cancel</button>
    <button class="btn btn-primary" type="button" ng-click="ok()" ng-disabled="matchedGuids().length == 0">Next &gt;
    </button>
</div>

