<div class="modal-header">
    <button i18n="1" type="button" class="close" ng-click="$close()">×</button>
    <h4 class="modal-title" testTag="reportName">{{data.title}}</h4>
</div>

<div class="modal-body">
    <div>
        {{data.info}}
        <br/>
        <br/>
        <span i18n="69" ng-if="truncated">Partial results</span>
        <div style="height:300px;overflow:auto">
            <table class="table table-striped csv-table" testTag="reportCSVTable">
                <tbody style="height:300px;overflow:auto;display:block">
                <tr ng-repeat="x in summary track by $index">
                    <button i18n="70" class="btn btn-xs" ng-if="mappable" ng-click="addToMap(x)">
                        Add to map
                    </button>
                    <td ng-repeat="i in x track by $index">
                        {{i}}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <a ng-show="summary.length > 0" download="{{data.filename}}"
       ng-href="{{exportUrl}}" ng-disabled="exportUrl == null">
        <i class="glyphicon glyphicon-download-alt"></i><span i18n="51">Download</span>
    </a>
</div>

<div class="modal-footer">
    <button i18n="38" class="btn btn-primary" type="button" ng-click="$close()">Close</button>
</div>