<div class="modal-header">
    <h3 class="modal-title">{{data.title}}</h3>
</div>

<div class="modal-body">
    <div>
        {{data.info}}
        <br/>
        <br/>
        <span ng-if="truncated">Partial results</span>
        <div style="height:300px;overflow:scroll">
            <table class="table table-striped">
                <tbody style="height:300px;overflow:scroll;display:block">
                <tr ng-repeat="x in summary track by $index">
                    <button class="btn btn-xs" ng-if="mappable" ng-click="addToMap(x)">
                        Add to map
                    </button>
                    <td ng-repeat="i in x track by $index">
                        {{i}}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <a download="{{data.filename}}"
       ng-href="{{exportUrl}}" ng-disabled="exportUrl == null">
        <i class="glyphicon glyphicon-download-alt"></i>Download
    </a>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$close()">Close</button>
</div>