<div class="modal-header">
    <button i18n="1" type="button" class="close" ng-click="$close()">×</button>
    <h3 class="modal-title">{{data.title}}</h3>
</div>
<div class="modal-body">
    <span i18n="69" ng-if="truncated">Partial results</span>
    <div style="height:300px;overflow:auto">
        <table class="table table-striped csv-table">
            <thead>
                <tr>
                    <th ng-repeat="x in summary[0] track by $index" ng-if="$index > 0">
                         {{ x }}
                    </th>
                </tr>
            </thead>
            <tbody style="height:300px;overflow:auto;">
                <tr ng-repeat="x in summary track by $index" ng-if="$index > 0">
                    <button i18n="70" class="btn btn-xs" ng-if="mappable" ng-click="addToMap(x)">
                        Add to map
                    </button>
                    <td ng-repeat="i in x track by $index" ng-if="$index > 0">
                        {{i}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="modal-footer">
    <div class="pull-left">
        <a ng-show="summary.length > 0" download="{{data.filename}}"
           ng-href="{{exportUrl}}" ng-disabled="exportUrl == null" class="btn btn-default">
            <i class="glyphicon glyphicon-download-alt"></i><span i18n="51">Download</span>
        </a>
    </div>
    <button i18n="38" class="btn btn-primary" type="button" ng-click="$close()">Close</button>
</div>