<div class="row" style="padding-left:10px;width:400px">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title" style="margin-bottom: 0px">
                <button i18n="1" type="button" class="close" ng-click="cancel()">×</button>
                <div i18n="145">Create area</div>
            </h3>
        </div>
        <div class="panel-body">
            <div class="alert alert-ala-success alert-success" role="alert">
                <div ng-show="type == 'pointOnLayer'">
                    <span i18n="71">Select or search for a contextual layer and click on the map to set the coordinates.</span>
                </div>
                <div ng-show="type != 'pointOnLayer'">
                    <span i18n="74">Draw on the map to create the new area.</span>
                </div>
            </div>

            <div ng-show="type == 'pointOnLayer'">
                <table class="table table-striped">
                    <tbody>
                    <tr>
                        <td style="width:360px" colspan="2">
                            <div ng-repeat="layer in mappedLayers">
                                <input type="radio" ng-model="layerSelected.name" ng-value="layer.uid"
                                       name="layerChoice">{{layer.name}}
                            </div>
                            <div>
                                <br/>
                                <div id="searchDiv" ng-show="layerSelected.name == 'search'">
                                    <input style="width:300px" layer-auto-complete contextual="true"
                                           on-custom="selectLayer"
                                           placeholder="search layers">
                                </div>
                                <br/>
                                <br/><b>{{intersect.layer.name}}</b>
                                <br/>
                                <br/>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><b>Coordinates</b></td>
                        <td>{{intersectPoint}}
                            <button i18n="73" class="btn btn-default btn-xs" style="float:right"
                                    ng-click="enableDrawing()">
                                Reset
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td><b>Selected area</b></td>
                        <td>{{intersect.data.value}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div ng-show="type != 'pointOnLayer'">
                <label for="areaNameInput" i18n="75">Area name&nbsp;</label>
                <input ng-model="areaName" id="areaNameInput" class="input-md"></input>
                <br/>
                <br/>
                <div ng-show="type == 'drawPolyline'">
                    <span i18n="493">Radius (km)&nbsp;</span><input ng-model="radiusKm"
                                                                    ng-change="lineWithBuffer()"></input>
                    <br/>
                    <br/>
                </div>
                <label for="wktTextArea" i18n="76">Well Known Text (WKT)</label>
                <br/>
                <textarea id="wktTextArea" ng-model="selectedArea.wkt" style="width:350px;height:200px;"
                          readonly></textarea>
            </div>

            <div class="btn-group btn-group-sm" ng-show="selectedArea.wkt.length > 0">
                <button i18n="77" class="btn btn-default" ng-click="enableDrawing()"
                        ng-show="type != 'pointOnLayer'">Delete and redraw
                </button>
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <div class="btn-group btn-group-sm">
            <button i18n="38" class="btn btn-default" ng-click="cancel()" ng-disabled="loading">Close</button>
            <button i18n="39" class="btn btn-primary" ng-click="ok()"
                    ng-disabled="!isNextEnabled()">Next &gt;
            </button>
        </div>
        <uib-progressbar ng-show="loading" class="progress-striped"
                         ng-class="{ active: true }" value="100" type='info' title="Updating"><span
                i18n="47">Loading...</span>
        </uib-progressbar>
    </div>
</div>