<div class="modal-header">
    <button i18n="1" type="button" class="close" ng-click="$close()">×</button>
    <h3 i18n="93" class="modal-title">Export map</h3>
</div>

<div class="modal-body">
    <div class="well">
        <form class="form-horizontal">
            <span i18n="94" style="vertical-align:top">Map caption:&nbsp;</span>
            <textarea ng-model="comment" style="width:350px;height:100px;margin-left:10px"></textarea>

            <br/><br/>
            <span i18n="95">Image format:&nbsp;</span>
            <select ng-model="outputType">
                <option i18n="96" value="jpg">jpg</option>
                <option i18n="97" value="png">png</option>
                <option i18n="98" value="pdf">pdf</option>
            </select>
        </form>
    </div>
</div>

<div class="modal-footer">
    <button i18n="45" class="btn" type="button" ng-click="$close()">Cancel</button>
    <button i18n="39" class="btn btn-primary" type="button" ng-click="ok()" ng-disabled="isDisabled()">Next &gt;
    </button>
</div>