<div class="modal-header">
    <h3 i18n="88" class="modal-title">Export to BCCVL</h3>
</div>

<div class="modal-body">

    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal">

                <div class="panel-default well">

                    <div ng-show="step == '2'">
                        <span class="process-description">1.&nbsp{{stepNames[0]}}</span>

                        <i style="float:right;font-size:25px;color:green;" class="glyphicon glyphicon-ok"
                           ng-hide="isDisabled()"></i>
                        <i style="float:right;font-size:25px;color:red;" class="glyphicon glyphicon-asterisk"
                           ng-show="isDisabled()"></i>

                        <div select-species on-custom="setQ" selected-q="selectedQs"></div>
                    </div>
                    <div ng-show="step == '3'">
                        <span i18n="89" class="process-description">Export Status</span>
                        <div i18n="90" ng-show="bccvlOpenUrl == ''">exporting to BCCVL ...</div>
                        <div i18n="91" ng-show="bccvlOpenUrl != ''">Finished uploading to BCCVL</div>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button i18n="45" class="btn" type="button" ng-click="$close()">Cancel</button>
    <button i18n="39" class="btn btn-primary" type="button" ng-click="ok()" ng-disabled="isDisabled()"
            ng-show="step < 3">Next
        &gt;
    </button>
    <a ng-href="{{bccvlOpenUrl}}" target="_blank" ng-show="step == 3" ng-disabled="bccvlOpenUrl == ''">
        <button i18n="92" class="btn btn-primary" type="button" ng-click="$close()" ng-disabled="bccvlOpenUrl == ''">
            Open BCCVL in
            new window &gt;
        </button>
    </a>
</div>