<div>
    <div ng-show="olist.occurrences.length">
        <div class="popover-title">
            <h4 ng-show="!olist.zoomedToRecord">
                <span i18n="99">Occurrence record&nbsp;</span>({{olist.index + 1}}<span i18n="100">&nbsp;of&nbsp;</span>{{olist.total}})
            </h4>


            <div class="dropdown">
                <button class="btn btn-xs btn-secondary dropdown-toggle" type="button"
                        id="chooseDisplayedLayerMenuButton" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                    <span><i class="glyphicon glyphicon-triangle-right"></i></span>
                    {{olist.layer.isSelectedFacetsOnly ? olist.layer.name + ' - selected ' + olist.layer.facet +
                        "(" + olist.layer.selCount + ")" : olist.layer.isWithoutSelectedFacetsOnly ? olist.layer.name +
                        ' - unselected ' + olist.layer.facet + " (" + olist.layer.withoutSelCount + ")" : olist.layer.name +
                        '(' + olist.layer.total + ')'}}

                </button>

                <div class="dropdown-menu" aria-labelledby="chooseDisplayedLayerMenuButton">
                    <div ng-repeat="layer in olist.layersWithResults" class=" col-sm-12">

                        <input type="checkbox" ng-model="layer.isDisplayed" ng-change="olist.toggleDisplayLayer(layer)">
                        <button class="btn btn-xs" ng-click="olist.showThisLayerOnly(layer)">
                            <a class="dropdown-item" href="#">{{layer.name}} ({{layer.total}})</a>
                        </button>
                        <div ng-if="layer.sel" class="col-sm-10 offset-sm-2">
                            <button class="btn btn-xs" ng-click="olist.toggleSelFacadeOnLayer(layer)">Selected
                                {{olist.layer.facet}} ({{layer.selCount}})
                            </button>
                            <br/>
                            <button class="btn btn-xs" ng-click="olist.toggleUnSelFacadeOnLayer(layer)">Not selected
                                {{olist.layer.facet}}({{layer.withoutSelCount}})
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--
        <div class = "col-sm-12" ng-repeat = 'layer in olist.layersWithResults' >
            <span><i class="glyphicon glyphicon-triangle-right" title="Current layer" ng-class="{'glyphicon-hide': olist.layer.name!=layer.name}"></i></span>
            <input type="checkbox" ng-model="layer.isDisplayed" ng-change="olist.toggleDisplayLayer(layer)">{{layer.name}} ({{layer.total}})
        </div>
        -->


        <div class="panel-body" ng-repeat="oc in olist.occurrences">

            <div class="row" ng-show="oc.thumbnailUrl">
                <div class="col-sm-12">
                    <a ng-href="{{oc.largeImageUrl}}" target="_blank">
                        <img class="img-thumbnail" ng-src="{{oc.thumbnailUrl}}" alt="Click to view large image">
                    </a>
                </div>
            </div>


            <div class="row" ng-show="oc.layername">
                <div i18n="72" class="col-sm-6">Layer</div>
                <div class="col-sm-6">{{oc.layername}}</div>
            </div>
            <div class="row" ng-show="oc.vernacularName">
                <div i18n="547" class="col-sm-6">Vernacular name</div>
                <div class="col-sm-6">{{oc.vernacularName}}</div>
            </div>
            <div class="row" ng-show="oc.scientificName">
                <div i18n="101" class="col-sm-6">Scientific name</div>
                <div class="col-sm-6"><a ng-href="{{olist.config.bieUrl}}/species/{{oc.speciesGuid}}"
                                         target="_blank">
                    {{oc.scientificName}}</a>
                </div>
            </div>
            <div class="row" ng-show="oc.kingdom">
                <div i18n="102" class="col-sm-6">Kingdom</div>
                <div class="col-sm-6"><a
                        ng-href="{{olist.config.bieUrl}}/species/{{oc.kingdom}}" target="_blank">{{oc.kingdom}}</a>
                </div>
            </div>
            <div class="row" ng-show="oc.family">
                <div i18n="103" class="col-sm-6">Family</div>
                <div class="col-sm-6"><a ng-href="{{olist.config.bieUrl}}/species/{{oc.family}}" target="_blank">
                    {{oc.family}}</a>
                </div>
            </div>
            <div class="row" ng-show="oc.dataProviderName">
                <div i18n="104" class="col-sm-6">Data provider</div>
                <div class="col-sm-6"><a
                        ng-href="{{olist.config.collectionsUrl}}/public/show/{{oc.dataProviderUid}}"
                        target="_blank">
                    {{oc.dataProviderName}}</a>
                </div>
            </div>
            <div class="row" ng-show="oc.point00001">
                <div i18n="105" class="col-sm-6">Latitude & Longitude</div>
                <div class="col-sm-6">{{oc.point00001}}</div>
            </div>
            <div class="row" ng-show="oc.coordinateUncertaintyInMeters">
                <div i18n="106" class="col-sm-6">Spatial uncertainty in metres</div>
                <div class="col-sm-6">
                    {{oc.coordinateUncertaintyInMeters}}
                </div>
            </div>
            <div class="row" ng-show="oc.month || oc.year">
                <div i18n="107" class="col-sm-6">Date</div>
                <div class="col-sm-6">
                    <span ng-show="oc.month">{{oc.month}} / </span><span ng-show="oc.year">{{oc.year}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <input type="checkbox" ng-model="oc.adhocGroup" ng-change="olist.toggleAdhocGroup()">&nbsp;
                    <span ng-hide="olist.isAdhocGroup()">Assign record to ad hoc group <i
                            class="glyphicon glyphicon-question-sign"
                            title="This occurence has NOT been added into adhoc"></i></span>
                    <span ng-show="olist.isAdhocGroup()">Assigned <i class="glyphicon glyphicon-question-sign"
                                                                     title="This occurrence has been added into adhoc"></i></span>
                </div>
                <div class="col-sm-12">
                    <div class="col-sm-6">
                        <button type="button" class="btn btn-default btn-xs" title="Add all occurrences to adhoc"
                                ng-click="olist.toggleBBox()"><span i18n="496">Add occurrences to adhoc</span>
                        </button>


                        <span ng-show="olist.layer.adhocBBoxes.length > 0 && olist.devMode"><i
                                class="glyphicon glyphicon-th-list" ng-click="olist.showAdhocBBoxList()"> </i></span>
                    </div>

                    <div ng-show="olist.hideAhhocBBoxList" class="col-sm-6">
                        <ul>
                            <li ng-repeat="bbox in olist.layer.adhocBBoxes"><i class="glyphicon glyphicon-map-marker"
                                                                               title="{{bbox[0]}} - {{bbox[1]}}"></i>{{bbox[2]}}
                                <i ng-click="olist.removeAdhocBBox($index)" class="glyphicon glyphicon-trash"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    &nbsp;
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="btn-group" role="group" aria-label="..." ng-show="!olist.zoomedToRecord">
                        <button type="button" class="btn btn-default btn-xs" title="Previous occurrence"
                                ng-click="olist.getPrevOccurrence()">
                            <span i18n="110" aria-hidden="true">«</span>
                        </button>
                        <button type="button" class="btn btn-default btn-xs" title="Next occurrence"
                                ng-click="olist.getNextOccurrence()">
                            <span i18n="111" aria-hidden="true">»</span>
                        </button>
                    </div>
                    <div class="btn btn-xs btn-default" ng-click="olist.zoomToRecord()"
                         title="Zoom to the selected record" ng-show="!olist.zoomedToRecord">
                        <i class="glyphicon glyphicon-zoom-in" style="margin:0px;"></i>
                    </div>
                    <a i18n="112" class="btn btn-xs btn-default" ng-href="{{olist.viewRecordUrl}}"
                       title="View details of this record" target="_blank">
                        View record
                    </a>
                    <a i18n="113" class="btn btn-xs btn-default" ng-href="{{olist.listRecordsUrl}}"
                       title="List records at this point for this layer" ng-show="!olist.zoomedToRecord"
                       target="_blank" ng-enable="olist.viewRecordsUrl.length > 0">
                        List records at this point
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div ng-show="intersects.length">
        <table class="table table-striped">
            <tbody>
            <tr ng-repeat="layer in intersects">
                <td class="col-sm-8">{{layer.layername}}</td>
                <td class="col-sm-4">{{layer.value}} <span
                        ng-hide="layer.units == 'dimensionless' || layer.units == '' || layer.units == null ">({{layer.units}})</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>