<div style="padding-left:15px;">
    <form class="form-horizontal" ng-show="selected.layer">

        <div class="form-group row">
            <label i18n="115" for="selectedLayerName" style=";width:70px">Name</label>
            <input style="width:300px;vertical-align: top;" type="text" id="selectedLayerName"
                   ng-model="selected.layer.name"/>
        </div>

        <div ng-if="selected.layer.layertype == 'species' && selected.layer.scatterplotUrl !== undefined">

            <div class="form-group row">
                <label><span i18n="116">Records selected:&nbsp;</span>{{ selected.layer.scatterplotSelectionCount
                    }}<span
                            i18n="117">&nbsp;record/s</span></label>
                <button i18n="118" class="btn btn-xs btn-default" ng-click="scatterplotCreateInOut()">
                    add in/out layers to map
                </button>
            </div>

            <div class="form-group row">
                <label>{{ selected.layer.scatterplotLabel1 }}</label>
            </div>

            <div class="form-group row">
                <label>{{ selected.layer.scatterplotLabel2 }}</label>
            </div>

<!--            spatial-service part is not working-->
<!--            <div ng-if="areaLayers.length > 0" class="form-group row">-->
<!--                <label i18n="119">Highlight area</label>-->
<!--                <select style="width:250px" ng-model="selected.layer.highlightWkt" ng-change="scatterplotUpdate()"-->
<!--                        ng-options="area.pid as area.name for area in areaLayers">-->
<!--                </select>-->
<!--            </div>-->

            <div class="form-group row">
                <button i18n="120" class="btn btn-xs btn-default" ng-click="scatterplotUpdate(null)">Clear selection
                </button>
                <button i18n="121" class="btn btn-xs btn-default" ng-click="scatterplotDownloadData()">Download data
                </button>
                <button i18n="122" class="btn btn-xs btn-default" ng-click="scatterplotDownloadImage()">Download image
                </button>
            </div>

            <div class="form-group row">
                <div id="chartDivBack" class="chartDiv" style="background-repeat:no-repeat">
                    <div id="chartDiv" class="chartDiv"
                         ng-mousedown="doMouseDown($event)"
                         ng-mousemove="doMouseDrag($event)"
                         ng-mouseup="doMouseUp($event)"
                         style="background-repeat:no-repeat;background-image:url('{{selected.layer.scatterplotUrl}}')">
                        <div ng-if="selected.layer.scatterplotUpdating"
                             style="background:white;opacity:0.5;width:100%;height:350px">
                            <i class="species-spinner"
                               style="height:20px;width:20px;margin-left:150px;margin-top:150px;"></i>
                        </div>
                    </div>
                </div>
                <div id="rband"
                     ng-mousedown="doMouseDown($event)"
                     ng-mousemove="doMouseDrag($event)"
                     ng-mouseup="doMouseUp($event)"></div>
            </div>
        </div>

        <div class="form-group row" ng-show="selected.layer.layertype == 'species' &&
        (selected.layer.facet == -1 || selected.layer.colorType == 'grid')">
            <label i18n="124" style=";width:70px">Display as</label>
            <input type="radio" ng-model="selected.layer.colorType" ng-change="setColorType('grid')"
                   value="grid">
            <label i18n="125" style="padding-right:30px">Density grid</label>
            <input type="radio" ng-model="selected.layer.colorType" ng-change="setColorType('-1')"
                   value="-1">
            <label i18n="126">Points</label>
        </div>

        <div class="form-group row"
             ng-show="selected.layer.layertype == 'species' && selected.layer.colorType != 'grid'">
            <label i18n="127" style=";width:70px">Facet</label>
            <select style=";width:300px" id='facet' ng-model="selected.layer.facet"
                    ng-change="updateFacet()" testTag="facetInLegend">
                <option i18n="128" value="-1">User defined colour</option>
                <option i18n="503" value="search">Search facets...</option>
                <option ng-repeat="filter in workflowFilters" value="{{filter.workflowId}}">{{filter.name}}</option>

                <option i18n="504" ng-show="filtersEnabled()" disabled>--- Active Filters ---</option>
                <option ng-repeat="x in selected.layer.facets | filter:{enabled: true}" value="{{x.name}}"
                        ng-if="showActiveFilter()">
                    {{x.displayName}}
                </option>

                <option ng-repeat="x in selected.layer.groupedFacets" value="{{x.facet}}" ng-disabled="x.separator">
                    {{x.name}}
                </option>
            </select>
            <div ng-show="filtersEnabled() && isFilterSelected()" class="btn-group"
                 style="float: right;margin-right: 20px;">
                <button i18n="512" class="btn-xs btn btn-default" ng-click="removeFacet()">Remove filter</button>
            </div>
        </div>

        <div class="form-group row" ng-show="selected.layer.layertype == 'species' && selected.layer.colorType=='-1' &&
                                        selected.layer.facet!='-1'">

            <div ng-show="selected.layer.facetProgress"><span>{{selected.layer.facetProgress}}</span></div>

            <facet-editor ng-if="selected.layer.activeFacet !== undefined && !selected.layer.facetProgress"
                          facet="selected.layer.activeFacet" on-custom="updateSelection()"></facet-editor>

            <div style="float:right;padding-right:30px" class="btn-group">
                <button i18n="131" class="btn btn-xs btn-default" ng-click="facetNewLayer()"
                        ng-disabled="!facetsSelected()">Create layer with selection
                </button>
                <button i18n="132" class="btn btn-xs btn-default" ng-click="facetNewLayerOut()"
                        ng-disabled="!facetsSelected()">Create layer without selection
                </button>
            </div>
            <br/>
            <hr/>
        </div>

        <div ng-show="(selected.layer.layertype == 'species' && selected.layer.colorType=='-1' &&
                                        selected.layer.facet=='-1') || selected.layer.layertype == 'area'"
             class="form-group row">
            <grid id="cpGrid" style="padding-left:2px;padding-top:5px;width:280px;display:block">
                <rows class="noborder">
                    <row>
                        <div i18n="109" style="background-color:#8b0000" height="12px"
                             ng-click="setColor('8b0000')">&nbsp;
                        </div>

                        <div i18n="109" style="background-color:#FF0000" height="12px"
                             ng-click="setColor('FF0000')">&nbsp;
                        </div>

                        <div i18n="109" style="background-color:#CD5C5C" height="12px"
                             ng-click="setColor('CD5C5C')">&nbsp;
                        </div>

                        <div i18n="109" style="background-color:#E9967A" height="12px"
                             ng-click="setColor('E9967A')">&nbsp;
                        </div>

                        <div i18n="109" style="background-color:#8B4513" height="12px"
                             ng-click="setColor('8B4513')">&nbsp;
                        </div>

                        <div i18n="109" style="background-color:#D2691E" height="12px"
                             ng-click="setColor('D2691E')">&nbsp;
                        </div>

                        <div i18n="109" style="background-color:#F4A460" height="12px"
                             ng-click="setColor('F4A460')">&nbsp;
                        </div>

                        <div i18n="109" style="background-color:#FFA500" height="12px"
                             ng-click="setColor('FFA500')">&nbsp;
                        </div>

                        <div i18n="109" style="background-color:#006400" height="12px"
                             ng-click="setColor('006400')">&nbsp;
                        </div>

                        <div i18n="109" style="background-color:#008000" height="12px"
                             ng-click="setColor('008000')">&nbsp;
                        </div>

                        <div i18n="109" style="background-color:#00FF00" height="12px"
                             ng-click="setColor('00FF00')">&nbsp;
                        </div>

                        <div i18n="109" style="background-color:#90EE90" height="12px"
                             ng-click="setColor('90EE90')">&nbsp;
                        </div>

                        <div i18n="109" style="background-color:#191970" height="12px"
                             ng-click="setColor('191970')">&nbsp;
                        </div>

                        <div i18n="109" style="background-color:#0000FF" height="12px"
                             ng-click="setColor('0000FF')">&nbsp;
                        </div>

                        <div i18n="109" style="background-color:#9999FF" height="12px"
                             ng-click="setColor('9999FF')">&nbsp;
                        </div>

                        <div i18n="109" style="background-color:#B0CFDE" height="12px"
                             ng-click="setColor('B0CFDE')">&nbsp;
                        </div>
                    </row>
                    <row>
                        <div i18n="109" style="background-color:#4682B4" height="12px"
                             ng-click="setColor('4682B4')">&nbsp;
                        </div>

                        <div i18n="109" style="background-color:#5F9EA0" height="12px"
                             ng-click="setColor('5F9EA0')">&nbsp;
                        </div>

                        <div i18n="109" style="background-color:#00FFFF" height="12px"
                             ng-click="setColor('00FFFF')">&nbsp;
                        </div>

                        <div i18n="109" style="background-color:#B0E0E6" height="12px"
                             ng-click="setColor('B0E0E6')">&nbsp;
                        </div>

                        <div i18n="109" style="background-color:#556B2F" height="12px"
                             ng-click="setColor('556B2F')">&nbsp;
                        </div>

                        <div i18n="109" style="background-color:#BDB76B" height="12px"
                             ng-click="setColor('BDB76B')">&nbsp;
                        </div>

                        <div i18n="109" style="background-color:#FFFF00" height="12px"
                             ng-click="setColor('FFFF00')">&nbsp;
                        </div>

                        <div i18n="109" style="background-color:#FFE4B5" height="12px"
                             ng-click="setColor('FFE4B5')">&nbsp;
                        </div>

                        <div i18n="109" style="background-color:#4B0082" height="12px"
                             ng-click="setColor('4B0082')">&nbsp;
                        </div>

                        <div i18n="109" style="background-color:#800080" height="12px"
                             ng-click="setColor('800080')">&nbsp;
                        </div>

                        <div i18n="109" style="background-color:#FF00FF" height="12px"
                             ng-click="setColor('FF00FF')">&nbsp;
                        </div>

                        <div i18n="109" style="background-color:#DDA0DD" height="12px"
                             ng-click="setColor('DDA0DD')">&nbsp;
                        </div>

                        <div i18n="109" style="background-color:#000000" height="12px"
                             ng-click="setColor('000000')">&nbsp;
                        </div>

                        <div i18n="109" style="background-color:#777777" height="12px"
                             ng-click="setColor('777777')">&nbsp;
                        </div>

                        <div i18n="109" style="background-color:#BBBBBB" height="12px"
                             ng-click="setColor('BBBBBB')">&nbsp;
                        </div>

                        <div i18n="109" style="background-color:#FFFFFF" height="12px"
                             ng-click="setColor('FFFFFF')">&nbsp;
                        </div>
                    </row>
                </rows>
            </grid>

            <div style="float:right; margin-top:-25px;margin-right:100px;width: 40px;">
                <label><a ng-click="selected.layer.showColourSliders=true" ng-hide="selected.layer.showColourSliders">more</a></label>
                <label><a ng-click="selected.layer.showColourSliders=false" ng-show="selected.layer.showColourSliders">less</a></label>
            </div>

            <div style="padding-left:10px; float:right; margin-top:-39px;height:40px;width:40px;margin-right:-80px">
                <div i18n="109" style="border-radius: 15px;background-color:#{{selected.layer.color}};height:30px">
                    &nbsp;
                </div>
            </div>
            <br/>
        </div>

        <div class="form-group row" ng-show="selected.layer.showColourSliders">
            <label i18n="133" style="float:left;width:70px" for="size">Red</label>
            <div style="float:left;width:200px" id="red" ui-slider min="0" max="255"
                 ng-model="selected.layer.red" ng-change="updateColour()" ng-stop="applyColour()"></div>
            <span i18n="109" style="float:left;width:15px">&nbsp;</span>
            <span style="float:left">{{selected.layer.red}}</span>
        </div>
        <div class="form-group row" ng-show="selected.layer.showColourSliders">
            <label i18n="134" style="float:left;width:70px" for="size">Green</label>
            <div style="float:left;width:200px" id="green" ui-slider min="0" max="255"
                 ng-model="selected.layer.green" ng-change="updateColour()" ng-stop="applyColour()"></div>
            <span style="float:left;width:15px;height:15px;"></span>
            <span style="float:left">{{selected.layer.green}}</span>
        </div>
        <div class="form-group row" ng-show="selected.layer.showColourSliders" style="padding-bottom:5px">
            <label i18n="135" style="float:left;width:70px" for="size">Blue</label>
            <div style="float:left;width:200px" id="blue" ui-slider min="1" max="255"
                 ng-model="selected.layer.blue" ng-change="updateColour()" ng-stop="applyColour()"></div>
            <span style="float:left;width:15px;height:15px;"></span>
            <span style="float:left">{{selected.layer.blue}}</span>
        </div>

        <div class="form-group row" id="helpdebug2"
             ng-show="selected.layer.layertype == 'species' && selected.layer.colorType!='grid'">
            <label i18n="136" style="float:left;width:70px" for="size">Size</label>
            <div style="float:left;width:200px" id="size" ui-slider min="1" max="15"
                 ng-model="selected.layer.size"></div>
            <span style="float:left;width:15px;height:15px;"></span>
            <span style="float:left">{{selected.layer.size}}</span>
        </div>

        <div class="form-group row" style="padding-top:5px">
            <label i18n="137" style="float:left;width:70px" for="opacity">Opacity</label>

            <div style="float:left;width:200px" id="opacity" ui-slider min="0" max="100"
                 ng-model="selected.layer.opacity"></div>
            <span style="float:left;width:15px;height:15px;"></span>
            <span style="float:left">{{selected.layer.opacity}}%</span>
        </div>

        <div class="form-group row"
             ng-show="selected.layer.layertype == 'grid' && selected.layer.id.startsWith('el')">
            <label i18n="529" style=";width:70px">Style</label>
            <select style=";width:300px" id='gridStyle' ng-model="selected.layer.style"
                    ng-change="updateStyle()" testTag="layerStyleInLegend">
                <option i18n="530" value="default">non-linear</option>
                <option i18n="531" value="linear">linear</option>
            </select>
        </div>

        <div class="form-group row"
             ng-show="selected.layer.layertype == 'contextual'">
            <label i18n="529" style=";width:70px">Style</label>
            <select style=";width:300px" id='contextualStyle' ng-model="selected.layer.style"
                    ng-change="updateStyle()">
                <option i18n="535" value="default">default</option>
                <option i18n="533" value="outline">outline</option>
                <option i18n="534" value="filled">filled</option>
            </select>
        </div>

        <div class="form-group row"
             ng-show="selected.layer.layertype == 'grid' || selected.layer.layertype == 'contextual' || selected.layer.layertype == 'gridAsContextual' || selected.layer.layertype=='wms'">
            <button i18n="138" class="btn btn-xs btn-default" ng-click="showLegend()">show legend</button>
            <button i18n="139" class="btn btn-xs btn-default" ng-click="hideLegend()">hide legend</button>
            <button i18n="140" class="btn btn-xs btn-default" ng-click="popupLegend()">popup legend</button>
        </div>

        <div class="form-group row" ng-show="wmsLegendVisible()">
            <div ng-show="selected.layer.layertype != 'grid'">
                <input style="width:200px" type="text" placeholder="Filter" ng-model="selected.layer.contextualFilter"/>
                <button i18n="141" ng-click="updateContextualList()" class="btn btn-xs btn-default">apply filter
                </button>
                <button i18n="129" ng-click="clearContextualFilter()" class="btn btn-xs btn-default">clear filter
                </button>
                <uib-progressbar
                        ng-show="selected.layer.contextualList === undefined || selected.layer.contextualList == null || selected.layer.contextualListCount == null"
                        class="progress-striped" ng-class="{ active: true }" value="100"
                        type='info' title="Updating">loading...
                </uib-progressbar>
                <table class="table table-striped" style="width:370px;overflow:auto;display:block" >
                    <tr ng-repeat="x in selected.layer.contextualList"
                        ng-click="contextualHighlight(x.name, x.pid, x)">
                        <td style="width:20px">
                            <input type="checkbox"
                                   ng-model="x.selected"
                                   ng-change="contextualSelectionChange(x)">
                        </td>
                        <td style="width:250px"
                            ng-style="(x.name == selected.layer.contextualHighlight && {'font-style':'italic', 'font-weight':'bold'}) || {'font-style':'inherit','font-weight':'inherit'}">
                            {{x.name}}
                        </td>
                        <td style="width:30px">
                            <i style="float:right" class="glyphicon glyphicon-zoom-in" ng-click="zoom(x)"></i>
                        </td>
                    </tr>
                </table>

                <div style="float:left;padding-left:15px" class="btn-group">
                    <button i18n="142" class="btn btn-xs btn-default"
                            ng-click="contextualPageBack()" style="float:left">&lt;
                    </button>
                    <input style="float:left;width:50px" type="text"
                           ng-model="selected.layer.contextualPage" ng-min="1"
                           ng-max="selected.layer.contextualMaxPage">
                    <input type="text" style="float:left;width:50px"
                           value=" / {{selected.layer.contextualMaxPage}}" disabled="true"/>
                    <button i18n="143" style="float:left" class="btn btn-xs btn-default"
                            ng-click="contextualPageForward()">&gt;
                    </button>
                </div>

                <div style="float:right;padding-right:30px" class="btn-group">
                    <button i18n="120" class="btn btn-xs btn-default"
                            ng-click="contextualClearSelection()">Clear selection
                    </button>
                    <button i18n="145" class="btn btn-xs btn-default" ng-click="contextualCreateArea()"
                            ng-disabled="isCreateAreaDisabled()">Create area
                    </button>
                </div>
            </div>

            <img ng-src="{{selected.layer.leaflet.layerOptions.layers[0].legendurl}}">
        </div>

        <div class="form-group row" ng-show="externalWmsLegendVisible()">
            <img ng-src="{{selected.layer.legendurl}}">
        </div>

        <div class="form-group row"
             ng-show="selected.layer.layertype == 'species' && selected.layer.colorType != 'grid'">

            <input type="checkbox" id="uncertainty"
                   ng-change="setUncertainty(chkUncertainty)" ng-model="chkUncertainty">
            <label i18n="146" for="uncertainty" style="width:300px">Display spatial uncertainty as a circle</label>

            <div ng-show="selected.layer.uncertainty"><img style="margin-left:70px;margin-bottom: 0px;"
                                                           ng-src="{{baseUrl}}/assets/orangecircle.png"><label
                    i18n="147">&lt; 30km
                (mapped
                with actual radius)</label></div>
            <div ng-show="selected.layer.uncertainty"><img style="margin-left:70px;margin-bottom: 0px;"
                                                           ng-src="{{baseUrl}}/assets/greencircle.png"><label
                    i18n="148">&gt; 30km
                (mapped with
                30km radius)</label></div>
        </div>

        <div class="form-group row"
             ng-if="selected.layer.layertype == 'species' && selected.layer.adhocGroup !== undefined && selected.layer.adhocGroupSize > 0">

            <label><span i18n="150">Adhoc selection:&nbsp;</span>{{ selected.layer.adhocGroupSize }}<span i18n="117">&nbsp;record/s</span></label>
            <button i18n="118" class="btn btn-xs btn-default" ng-click="adhocCreateInOut()">add in/out layers to map
            </button>
        </div>

        <div ng-if="selected.layer.layertype == 'species' && selected.layer.colorType == 'grid' && selected.layer.leaflet.layerOptions.layers[0].legendurl">
            <img ng-src="{{selected.layer.leaflet.layerOptions.layers[0].legendurl}}">
            <br/>
        </div>

        <div class="form-group row"
             ng-if="selected.layer.layertype == 'species'">
            <playback selected-layer="selected"></playback>
        </div>
    </form>
</div>
