<div class="row" name="divMenu">
    <div class="btn-group" id="menu-content">

        <div class="btn-group" role="group" ng-repeat="menu in menuConfig">
            <button style="width:{{ menu.width }}px" id="menu-{{ $index }}" type="button" class="btn btn-default dropdown-toggle"
                    data-toggle="dropdown" aria-haspopup="true"  aria-expanded="false" ng-disabled="disabled">
                {{ menu.name }}&nbsp;<span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="menu-{{ $index }}">
                <li role="menuitem" ng-repeat="button in menu.items">
                    <a ng-if="button['open'].match('^https?://.*') == null" href="#" ng-click="run(button)">{{
                        button.name }}</a>
                    <a ng-if="button['open'].match('^https?://.*') != null" target="_blank" href="{{ button.open }}">{{
                        button.name }}</a>
                </li>
            </ul>
            <button id="saveSessionButton" ng-show="false" ng-click="saveSession()"></button>
            <button id="sessionsButton" ng-click="open('sessions')" ng-show="false"></button>
        </div>
    </div>

    <div style="position:absolute;left: 0px;height: 100%;z-index: 1000; top:0px;display:none" class="btn-group"
         uib-dropdown
         id="restore-left-panel">
        <button i18n="143" style="padding-left:5px;height: 100%;width: 10px;" type="button"
                class="btn" uib-dropdown-toggle ng-click="showPanel()">
            &gt;
        </button>
    </div>
</div>