<h4 style="text-align:center">Map options</h4>

<hr/>

<div class="container">
    <label><b>Base map</b></label>

    <ul>
        <li class="list-group-item" ng-repeat="x in baselayers" class="list-group" >
            <input type="radio" ng-model="selection.name" value="{{x.key}}" ng-change="select(x.key)">
            <span>{{x.name}}</span>
            <a style="float;color:black;" ng-show="x.link != null" class="glyphicon glyphicon-info-sign" href="{{x.link}}"
               target="_blank"></a>
            <a style="float;color:black;" ng-show="x.url != null" class="glyphicon glyphicon-info-sign" href="{{x.url}}"
               target="_blank"></a>
        </li>
    </ul>
</div>

<hr/>

<div style="float:right">
    <button class="btn btn-sm" ng-click="addWMS()">Add WMS Layer</button>
    <button class="btn btn-sm" ng-click="downloadMap()">Download map</button>
    <button class="btn btn-sm" ng-click="resetMap()">Reset map</button>
</div>