<div class="container">
    <p i18n="164">Select the base map type.</p>

    <div class="radio" ng-model="selection.name" ng-repeat="x in baselayers">
        <label>
            <input type="radio" style="position:inherit" ng-model="selection.name" value="{{x.key}}"
                   ng-change="select(x.key)">
            {{x.name}}
            <a style="color:black;" ng-show="x.link != null" class="glyphicon glyphicon-info-sign" href="{{x.link}}"
               target="_blank"></a>
            <a style="color:black;" ng-show="x.url != null" class="glyphicon glyphicon-info-sign" href="{{x.url}}"
               target="_blank"></a>
        </label>
    </div>
</div>

<hr/>

<div class="btn-group btn-group-sm alignright">
    <button i18n="165" class="btn btn-default" ng-click="addWMS()">Add WMS Layer</button>
    <button i18n="166" class="btn btn-default" ng-click="downloadMap()">Download map</button>
    <button i18n="167" class="btn btn-default" ng-click="resetMap()">Reset map</button>
</div>