<div class="container" ng-if="config.optionsSelectBaseMap">
    <p i18n="164">Select the base map type.</p>

    <div class="radio" ng-model="selection.name" ng-repeat="x in baselayers">
        <label ng-show="isValidBaseLayerForProjection(x)">
            <input type="radio" style="position:inherit" ng-model="selection.name" value="{{x.key}}"
                   ng-change="select(x.key)">
            {{x.name}}
            <a style="color:black;" ng-show="x.link != null" class="glyphicon glyphicon-info-sign" href="{{x.link}}"
               target="_blank"></a>
            <a style="color:black;" ng-show="x.url != null" class="glyphicon glyphicon-info-sign" href="{{x.url}}"
               target="_blank"></a>
        </label>
    </div>
</div>

<hr/>

<div class="container" ng-show="showProjections()">
    <p i18n="511">Map projection</p>

    <div class="radio" ng-model="projection.code" ng-repeat="x in projections">
        <label>
            <input type="radio" style="position:inherit" ng-model="projection.code" value="{{x.definition.code}}"
                   ng-change="selectProjection(x.definition.code)">
            {{x.label}}
        </label>
    </div>
</div>

<hr/>

<div class="btn-group btn-group-sm alignright">
    <button i18n="165" class="btn btn-default" ng-click="addWMS()" ng-if="config.optionsAddWms">Add WMS Layer</button>
<!--    <button i18n="166" class="btn btn-default" ng-click="downloadMap()" ng-if="config.optionsDownloadMap">Download map-->
<!--    </button>-->
    <button i18n="167" class="btn btn-default" ng-click="resetMap()" ng-if="config.optionsResetMap">Reset map</button>
</div>
