<div>
    <h5 style="float:left;width:150px;margin-top: 13px;">Time series animation</h5>
    <div style="float:left;margin-top:5px;" class="btn btn-sm"
         ng-class="{active: _selected.layer.playback && _selected.layer.playback.option}" ng-click="onOptions()"
         title="Playback settings"><i
            class="glyphicon glyphicon-cog"></i></div>

    <div class="form-group row padding-top-5" style="float:left;padding-left:20px"
         ng-if="_selected.layer.playback && _selected.layer.playback.option && (_selected.layer.playback && _selected.layer.playback.type == 'month' || showYear())">
        <div class="col-sm-12 text-center">
            <div class="btn btn-sm"
                 ng-class="{active: _selected.layer.playback && _selected.layer.playback.play}" ng-click="onPlay()"
                 title="Play time series"><i
                    class="glyphicon glyphicon-play"></i></div>
            <div class="btn btn-sm btn-default"
                 ng-class="{active: _selected.layer.playback && _selected.layer.playback.pause}" ng-click="onPause()"
                 title="Pause time series"><i
                    class="glyphicon glyphicon-pause"></i></div>
            <div class="btn btn-sm btn-default"
                 ng-class="{active: _selected.layer.playback && _selected.layer.playback.stop}" ng-click="onStop()"
                 title="Stop time series"><i
                    class="glyphicon glyphicon-stop"></i></div>
            <div class="btn btn-sm btn-default"
                 ng-class="{active: _selected.layer.playback && _selected.layer.playback.repeat}" ng-click="onRepeat()"
                 title="Play time series in a loop"><i
                    class="glyphicon glyphicon-repeat"></i></div>
        </div>
    </div>
</div>

<div ng-if="_selected.layer.playback && _selected.layer.playback.option" style="padding-top:40px">
    <div class="form-group row padding-top-5">
        <div class="col-sm-4">
            <label>Play time series by</label>
        </div>
        <div class="col-sm-8">
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-default active btn-xs" ng-click="setType('year')">
                    <input type="radio" autocomplete="off"
                           ng-checked="_selected.layer.playback && _selected.layer.playback.type === 'year'"
                           value="year">
                    Year
                </label>
                <label class="btn btn-default btn-xs" ng-click="setType('month')">
                    <input type="radio" autocomplete="off"
                           ng-checked="_selected.layer.playback && _selected.layer.playback.type === 'month'"
                           value="month"> Month
                </label>
            </div>
        </div>
    </div>

    <div ng-if="showYear()">
        <div class="form-group row padding-top-5">
            <div class="col-sm-4">
                <label>Year range</label>
            </div>
            <div class="col-sm-7 padding-top-5">
                <div ui-slider ng-model="_selected.layer.playback.yearRange" range="true"
                     min="{{_selected.layer.yearMin}}" max="{{_selected.layer.yearMax}}" disabled="true"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-8 text-center"><label>{{_selected.layer.playback.yearRange[0]}} -
                {{_selected.layer.playback.yearRange[1]}}</label></div>
        </div>
    </div>

    <div ng-show="_selected.layer.playback.type == 'month'">
        <div class="form-ggit pullroup row padding-top-5">
            <div class="col-sm-4">
                <label>Month range</label>
            </div>
            <div class="col-sm-7 padding-top-5">
                <div ui-slider ng-model="_selected.layer.playback.monthRange" range="true" min="1" max="12"
                     disabled="true"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-7 text-center"><label ng-bind="monthRangeMessage()"></label></div>
        </div>
    </div>

    <div class="form-group row padding-top-5" ng-show="showYear()">
        <div class="col-sm-4">
            <label>Increase year by</label>
        </div>
        <div class="col-sm-7 padding-top-5">
            <input type="number" min="1" max="200" ng-model="_selected.layer.playback.yearStepSize">
        </div>
    </div>

    <div class="form-group row padding-top-5" ng-show="_selected.layer.playback.type == 'month'">
        <div class="col-sm-4">
            <label>Increase month by</label>
        </div>
        <div class="col-sm-7 padding-top-5">
            <input type="number" min="1" max="12" ng-model="_selected.layer.playback.monthStepSize">
        </div>
    </div>

    <div class="form-group row padding-top-5">
        <div class="col-sm-4">
            <label>Number of seconds per frame</label>
        </div>
        <div class="col-sm-7 padding-top-5">
            <input type="number" min="0" max="300" ng-model="_selected.layer.playback.timeout">
        </div>
    </div>

</div>