<div class="row" name="pointComparison" style="padding-left:10px">
    <h3 class="modal-title">Point comparison</h3>
    <br/>

    <div>
        <table class="table" style="width: 380px">
            <tr style="font-weight: bold">
                <td class="td-vertical-align text-center">id</td>
                <td class="td-vertical-align text-center">longitude</td>
                <td class="td-vertical-align text-center">latitude</td>
                <td></td>
            </tr>
            <tr ng-repeat="x in points">
                <td class="td-vertical-align text-right">{{ $index }}</td>
                <td class="td-vertical-align text-right"><input ng-model="x[1]" ng-change="update()"/></td>
                <td class="td-vertical-align text-right"><input ng-model="x[2]" ng-change="update()"/></td>
                <td class="td-vertical-align">
                    <i style="float:right" class="glyphicon glyphicon-trash" ng-click="remove($index)"></i>
                </td>
            </tr>
        </table>
        <button class="btn" ng-disabled="placingMarker" ng-click="addMarker()">Add point</button>
        <span class="text-info" ng-show="placingMarker">click map to place marker</span>

            <!--<button class="btn" ng-click="addMarker()">Add point</button>-->
            <a style="margin-left:30px" ng-show="comparison.length > 0" download="pointComparison.csv"
               ng-href="{{exportUrl}}" ng-disabled="exportUrl == null">
                Download
            </a>

        <div style="float:right;margin-right:30px">
            <button class="btn" ng-click="cancel()">Close</button>
            <button class="btn btn-primary" ng-click="compare()">Compare &gt;</button>
        </div>


        <br/><br/>
        <div ng-show="comparison.length > 0">
            <table class="table" style="width: 380px">
                <tr ng-repeat="row in comparison">
                    <td class="td-vertical-align text-right" ng-repeat="value in row track by $index">{{ value }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>