<div class="row" name="pointComparison" style="padding-left:10px">
    <h3 class="modal-title">Point comparison</h3>
    <br/>

    <div>
        <table class="table" style="width: 380px">
            <tr style="font-weight: bold">
                <td class="td-vertical-align text-right">id</td>
                <td class="td-vertical-align text-right">longitude</td>
                <td class="td-vertical-align text-right">latitude</td>
                <td></td>
            </tr>
            <tr ng-repeat="x in points">
                <td class="td-vertical-align text-right">{{ $index }}</td>
                <td class="td-vertical-align text-right"><input ng-model="x[1]" ng-change="update()"/></td>
                <td class="td-vertical-align text-right"><input ng-model="x[2]" ng-change="update()"/></td>
                <td class="td-vertical-align">
                    <button class="btn-xs btn btn-default" ng-click="remove($index)">remove</button>
                </td>
            </tr>
        </table>

        <div style="width:100%;padding-right:30px" class="btn-group">
            <button class="btn-xs btn btn-default" ng-click="addMarker()">Add point</button>
            <button class="btn-xs btn btn-default" ng-click="compare()">compare</button>

            <a style="margin-left:30px" ng-show="comparison.length > 0" download="pointComparison.csv"
               ng-href="{{exportUrl}}" ng-disabled="exportUrl == null">
                Download
            </a>

            <button style="float:right" class="btn btn-default btn-xs" ng-click="cancel()">Close</button>
        </div>

        <br/><br/>
        <div ng-show="comparison.length > 0">
            <table class="table" style="width: 380px">
                <tr ng-repeat="row in comparison">
                    <td class="td-vertical-align text-right" ng-repeat="value in row track by $index">{{ value }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>