<div class="">
    <div>
        <table class="table table-striped fixed-head layers-table">
            <caption>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Filter"
                                   ng-model="searchSandbox">
                            <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
                        </div>
                    </div>
                </div>
            </caption>
            <thead style="display: block">
            <tr>
                <th style="width:30px"></th>
                <th style="width:300px">
                    <a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                        <span i18n="151">Name</span>
                        <span ng-show="sortType == 'name' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                        <span ng-show="sortType == 'name' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                    </a></th>
                <th style="width:100px"><a href="#" ng-click="sortType = 'updated'; sortReverse = !sortReverse">
                    <span i18n="107">Date</span>
                    <span ng-show="sortType == 'updated' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                    <span ng-show="sortType == 'updated' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                </a></th>
                <th style="width:70px">
                    <a href="#" ng-click="sortType = 'count'; sortReverse = !sortReverse">
                        <span i18n="282">Occurrences</span>
                        <span ng-show="sortType == 'count' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                        <span ng-show="sortType == 'count' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                    </a></th>
            </tr>
            </thead>
            <tbody style="height:300px;overflow:scroll">
            <tr ng-repeat="item in sandboxItems | orderBy:sortType:sortReverse | filter:searchSandbox">
                <td style="width:10px" class="td-vertical-align text-center"><input type="checkbox"
                                                                                    ng-model="item.selected"
                                                                                    ng-click="select(item)"></td>
                <td style="width:300px" class="td-vertical-align table-text-ellipsis" title="{{item.name}}">{{ item.name
                    }}
                </td>
                <td style="width:100px" class="td-vertical-align table-text-ellipsis" text-right>{{ item.lastUpdated |
                    date: short}}
                </td>
                <td style="width:70px" class="td-vertical-align  text-right">{{ item.numberOfRecords | number}}</td>
            </tr>
            </tbody>
        </table>
        <div class="col-md-12 text-center">
            <ul class="pagination pagination-lg pager" id="myPager"></ul>
        </div>
    </div>
</div>