<div ng-show="_spatialValidity && !mappedLayerSelected" class="checkbox">
    <label>
        <input type="checkbox" ng-model="spatiallyValid" ng-change="setQ()"><span i18n="238">Include spatially-valid records</span>
    </label>
    <i class="glyphicon glyphicon-question-sign text-warning" popover-trigger="mouseenter" uib-popover="Display records which have passed all the spatial data quality tests (see link below for more information)"  popover-placement="right"></i>
</div>
<div ng-show="_spatialValidity && !mappedLayerSelected" class="checkbox">
    <label>
        <input type="checkbox" ng-model="spatiallySuspect" ng-change="setQ()"><span i18n="239">Include spatially-suspect records</span>
    </label>
    <i class="glyphicon glyphicon-question-sign text-warning" popover-trigger="mouseenter" uib-popover="Display records which have failed one or more spatial data quality tests (see link below for more information)"  popover-placement="right"></i>
</div>
<div ng-show="_spatialValidity && !mappedLayerSelected" class="checkbox">
    <label>
        <input type="checkbox" ng-model="spatiallyUnknown"
               ng-change="setQ()"><span i18n="525">Include spatially-undefined records</span>
    </label>
    <i class="glyphicon glyphicon-question-sign text-warning" popover-trigger="mouseenter" uib-popover="Include records that have NOT been supplied with coordinates (note they will not appear on map but will be included in download file)" popover-placement="right"></i>
</div>
<p ng-show="!mappedLayerSelected"  class="notice" ><i class="glyphicon glyphicon-info-sign text-warning"></i>Minimum one spatially related option is required! See this <a href="https://support.ala.org.au/support/solutions/articles/6000249565-spatially-valid-flag" target="_blank" >support article</a> for more information</p>

<div ng-show="_absentOption && !mappedLayerSelected" class="checkbox">
    <label>
        <input type="checkbox" ng-model="includeAbsences" ng-change="setQ()"><span i18n="514">Include absences</span>
    </label>
</div>
<div ng-show="_areaIncludes">
    <div class="checkbox">
        <label><input type="checkbox" ng-model="includeExpertDistributions" ng-change="setQ()"><span i18n="240">Include Expert Distribution areas</span>
        </label>
    </div>
    <div class="checkbox">
        <label><input type="checkbox" ng-model="includeAnimalMovement" ng-change="setQ()"><span
                i18n="241">Include Animal Movement Data</span>
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="includeChecklists" ng-change="setQ()"><span i18n="242">Include Checklist areas</span>
        </label>
    </div>
</div>
<div ng-show="_dateRangeOption && !mappedLayerSelected">
    <select-date-range selected-date-range="dateRange" on-custom="setQ()" testTag="otherInput"></select-date-range>
</div>

<div ng-if="_min == 0 && !multiselect" class="radio">
    <label>
        <input type="radio" ng-model="speciesOption" value="none" ng-change="changeOption('none')" name="{{_uniqueId}}"><span
            i18n="243">None</span></label>
</div>

<div ng-show="multiselect">
    <div ng-repeat="layer in speciesLayers">
        <input type="checkbox" ng-model="layer.checked" ng-change="updateMultiSelection()">{{layer.name}}<span
            i18n="526"
            ng-if="layer.species_list"
            style="margin-left:10px;font-style: italic">(may include species traits)</span>
        <br/>
    </div>
    <br/>
</div>

<div ng-show="multiselect" class="radio">
    <label>
        <input type="radio" ng-model="speciesOption" value="none" ng-change="changeOption('none')" name="{{_uniqueId}}">
        <span i18n="527">No additional species</span></label>
    <br/>
</div>

<div ng-show="!multiselect" ng-repeat="layer in speciesLayers" class="radio">
    <label>
        <input type="radio" ng-model="speciesOption" ng-value="layer.uid" value="{{layer.uid}}"
               ng-change="changeOption(layer.uid)" name="{{_uniqueId}}">{{layer.name}}</label>
    <br/>
</div>

<div ng-show="!_inputData.importList && !_inputData.importPoints && _lifeforms" class="radio">
    <label>
        <input type="radio" ng-model="speciesOption" value="lifeform" ng-change="changeOption('lifeform')"
               name="{{_uniqueId}}"><span i18n="528">Lifeform</span></label>
    <br/>
    <div ng-show="speciesOption == 'lifeform'" style="margin-left:15px">
        <lifeform-select style="width:400px" on-custom="setLifeformQ"></lifeform-select>
        <hr>
    </div>
</div>

<div ng-show="!_inputData.importList && !_inputData.importPoints && _allSpecies" class="radio">
    <label>
        <input type="radio" ng-model="speciesOption" value="allSpecies" ng-change="changeOption('allSpecies')"
               name="{{_uniqueId}}"><span i18n="244">All species</span></label>
    <br/>
</div>

<div ng-show="doiEnabled" class="radio">
    <label><input type="radio" ng-model="speciesOption" value="searchDois" ng-change="changeOption('searchDois')"
                  name="{{_uniqueId}}"><span i18n="435">Search for a species in a DOI dataset</span></label>

    <br/>
    <div ng-show="speciesOption == 'searchDois'">
        <label>
            <input id="doiAutoComplete" doi-auto-complete on-select="doiSelected">
        </label>
        <hr>
    </div>
</div>

<div ng-show="!_inputData.importList && !_inputData.importPoints && _searchSpecies" class="radio">
    <label>
        <input type="radio" ng-model="speciesOption" value="searchSpecies"
               ng-change="changeOption('searchSpecies')" name="{{_uniqueId}}"><span i18n="245">Search for a species by scientific or common
    name</span></label>
    <br/>

    <div ng-show="speciesOption == 'searchSpecies'" style="margin-left:15px">
        <div>
            <label>
                <input style="width:400px" id="speciesAutoComplete" species-auto-complete on-custom="setQ">
                <br/><span i18n="247">For example: "Heleioporus australiacus" or "Giant Burrowing Frog"</span>
            </label>
        </div>
        <hr>
    </div>
</div>

<div ng-show="listsEnabled() && _importList" class="radio"><label>
    <input type="radio" ng-model="speciesOption" value="speciesList" ng-change="changeOption('speciesList')"
           name="{{_uniqueId}}"><span
        i18n="251">Use species list</span></label>

    <div ng-show="speciesOption == 'speciesList'" style="margin-left:15px">
        <div lists-list on-custom="setQ"></div>
        <hr>
    </div>
</div>

<div ng-show="listsEnabled() && _importList" class="radio" name="createSpeciesList">
    <label>
    <input i18n="248" type="radio" ng-model="speciesOption" value="importList"
           ng-change="changeOption('importList')" ng-disabled="isNotLoggedIn" name="{{_uniqueId}}">Create new species
    list</label>

    <div ng-show="speciesOption == 'importList'" style="margin-left:15px">
        <div ng-show="speciesListName" style="margin-left:5px">
            <span i18n="542" >Current List: </span><b>{{speciesListName}}</b>
        </div>
        <button i18n="541"   style="margin-left:5px" type="button" class="btn btn-default btn-xs"
                ng-click="openSpeciesList()">
            Import another species list
        </button>
        <hr>
    </div>
</div>

<div ng-show="sandboxEnabled() && _importPoints" class="radio"><label>
    <input type="radio" ng-model="speciesOption" value="sandboxPoints"
           ng-change="changeOption('sandboxPoints')" ng-disabled="isNotLoggedIn" name="{{_uniqueId}}"><span
        i18n="254">Use imported points</span>
    <br/>
</label>
    <div ng-show="speciesOption == 'sandboxPoints'" style="margin-left:15px">
        <div sandbox-list on-custom="setQ"></div>
        <hr>
    </div>
</div>

<div ng-show="sandboxEnabled() && _importPoints" class="radio"><label>
    <input type="radio" ng-model="speciesOption" value="importPoints"
           ng-change="changeOption('importPoints')"
           ng-disabled="isNotLoggedIn" name="{{_uniqueId}}"><span i18n="252">Import points</span></label>

    <div ng-show="speciesOption == 'importPoints'" style="margin-left:25px;margin-top:10px">
        <span i18n="253">Dataset: </span><span class="strong">{{sandboxName}}</span>
        <button i18n="252" style="margin-left:30px" type="button" class="btn btn-default btn-xs"
                ng-click="openSandbox()">
            Import points
        </button>
    </div>
</div>

<!--<div ng-show="_canAddSpecies">-->
<!--<input type="radio" ng-click="addSpecies()"><span i18n="237">Add species...</span>-->
<!--</div>-->
