<div ng-if="multiselect">
    <div ng-repeat="layer in speciesLayers">
        <input type="checkbox" ng-model="layer.checked" ng-change="toggleQ($index)">{{layer.name}}</input>
        <br/>
    </div>
    <br/>
    <br/>
    <input type="radio" ng-click="addSpecies()">Add species...</input>
</div>

<div ng-if="!multiselect">
    <div ng-show="_spatialValidity" class="checkbox">
        <label>
            <input type="checkbox" ng-model="spatiallyValid">Include spatially-valid records
        </label>
    </div>
    <div ng-show="_spatialValidity" class="checkbox">
        <label>
            <input type="checkbox" ng-model="spatiallySuspect">Include spatially-suspect records
        </label>

        <hr>
    </div>
    <div ng-show="_areaIncludes">
        <div class="checkbox">
            <label><input type="checkbox" ng-model="includeExpertDistributions">Include Expert Distribution areas
            </label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" ng-model="includeAnimalMovement">Include Animal Movement Data
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="includeChecklists">Include Checklist areas
            </label>
        </div>
        <hr>
    </div>

    <div ng-show="_min == 0" class="radio">
        <label>
            <input type="radio" ng-model="speciesOption" value="none" ng-change="changeOption('none')" name="">None</label>
    </div>

    <div ng-repeat="layer in speciesLayers" class="radio">
        <label>
        <input type="radio" ng-model="$parent.speciesOption" ng-value="layer.uid"
               ng-change="changeOption(layer.uid)">{{layer.name}}</label>
        <br/>
    </div>

    <div ng-show="!_inputData.importList && !_inputData.importPoints" class="radio">
        <label>
        <input type="radio" ng-model="speciesOption" value="allSpecies" ng-change="changeOption('allSpecies')"
               name="">All species</label>
        <br/>
    </div>

    <div ng-show="!_inputData.importList && !_inputData.importPoints" class="radio">
        <label>
        <input type="radio" ng-model="speciesOption" value="searchSpecies"
               ng-change="changeOption('searchSpecies')">Search for a species by scientific or common
        name</label>
        <br/>
    </div>

    <div ng-show="speciesOption == 'searchSpecies'" style="margin-left:15px">
        <div class="checkbox">
        <label>
        <input type="checkbox" ng-checked="useScientificNames">Use the scientific names supplied with the
            records</label>
        </div>
        <div>

            <label>
        <input style="width:400px" id="speciesAutoComplete" species-auto-complete on-custom="setQ">
        <br/>For example: "Macropus rufus" or "Red Kangaroo"
        </label>
        </div>
        <hr>
    </div>

    <div class="radio"><label>
        <input type="radio" ng-model="speciesOption" value="importList" ng-show="!_inputData.importPoints"
               ng-change="changeOption('importList')" ng-disabled="isNotLoggedIn">Create new species list<span
            ng-hide="isLoggedIn">&nbsp;(must be logged in)</span></label>
        <div ng-show="speciesOption == 'importList'" style="margin-left:15px">
            <i>List: <b>{{speciesListName}}</b></i>
            <button style="margin-left:30px" class="btn btn-default" ng-click="openSpeciesList()">
                Import species list
            </button>
            <hr>
        </div>
    </div>

    <div class="radio"><label>
        <input type="radio" ng-model="speciesOption" value="speciesList" ng-change="changeOption('speciesList')"
               ng-show="!_inputData.importPoints">Use species list</label>

        <div ng-show="speciesOption == 'speciesList'" style="margin-left:15px">
            <div lists-list on-custom="setQ"></div>
            <hr>
        </div>
    </div>

    <div ng-show="!_inputData.importList" class="radio"><label>
        <input type="radio" ng-model="speciesOption" value="importPoints"
               ng-change="changeOption('importPoints')"
               ng-disabled="isNotLoggedIn">Import points<span
            ng-hide="isLoggedIn">&nbsp;(must be logged in)</span></label>

        <div ng-show="speciesOption == 'importPoints'" style="margin-left:25px;margin-top:10px">
            <i>Dataset: <b>{{sandboxName}}</b></i>
            <button style="margin-left:30px" class="btn btn-default" ng-click="openSandbox()">
                Import points
            </button>
        </div>
    </div>

    <div ng-show="!_inputData.importList" class="radio"><label>
        <input type="radio" ng-model="speciesOption" value="sandboxPoints"
               ng-change="changeOption('sandboxPoints')" ng-disabled="isNotLoggedIn">Use imported points<span
            ng-hide="isLoggedIn">&nbsp;(must be logged in)</span>
    </label>
        <div ng-show="speciesOption == 'sandboxPoints'" style="margin-left:15px">
            <div sandbox-list on-custom="setQ"></div>
            <hr>
        </div>
    </div>
</div>