<uib-progressbar ng-show="loading" class="progress-striped"
                 ng-class="{ active: true }" value="100" type='info' title="Updating">loading...</uib-progressbar>

<table class="table table-striped" ng-if="!loading">
    <thead>
    <td></td>
    <td>Group</td>
    <td># Leaves</td>
    <td>Study name</td>
    <td>Study Id</td>
    </thead>
    <tbody>
    <tr ng-repeat="tree in trees">
        <td><input type="checkbox" ng-change="change(tree)" ng-model="trees[$index].checked"></td>
        <td>{{tree.group}}</td>
        <td>{{tree.leaves}}</td>
        <td>{{tree.name}}</td>
        <td>{{tree.id}}</td>
    </tr>
    </tbody>
</table>