<div>
    <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="enabled" ng-change="apply()"><span i18n="489">Limit by a date range</span>
        </label>
    </div>

    <br/>
    <div style="margin-left:15px" ng-show="enabled">
        <span i18n="490">Date range</span>
        <input type="date" ng-model="dateStart" ng-change="apply()" ng-min="dateMin" ng-min="dateMax"/>
        <span i18n="491"> TO </span>
        <input type="date" ng-model="dateEnd" ng-change="apply()" ng-min="dateMin" ng-min="dateMax"/>
        <hr/>
    </div>
</div>