<select ng-model='mode' ng-change='changeSelectedItem(mode)'>
    <option i18n="223" value="">Search layers</option>
    <option i18n="224" value="pasteLayers">Paste a layer set</option>
    <option i18n="225" value="uploadLayers">Upload a layer set</option>
    <option ng-repeat='x in predefinedLists' value='{{x.value}}'>{{x.label}}</option>
</select>
<hr/>

<div style="min-height:460px">
    <div ng-show="mode == 'uploadLayers'">
        <br/>
        <input type="file" id="file" name="file"/>
        <br/>
        <div class="btn-group btn-group-sm">
            <button i18n="68" class="btn btn-default" ng-click="mode = ''">&lt; Back</button>
            <button i18n="57" class="btn btn-default" ng-click="upload()">Upload</button>
        </div>
    </div>

    <div ng-show="mode == 'pasteLayers'">
        <textarea ng-model="pasteLayersTxt" style="height:200px;width:90%" name="pasteLayers"></textarea>
        <br/>
        <div class="btn-group btn-group-sm">
            <button i18n="68" class="btn btn-default" ng-click="mode = ''">&lt; Back</button>
            <button i18n="54" class="btn btn-default" ng-click="addList(pasteLayersTxt);mode = ''">Add</button>
        </div>
    </div>

    <div ng-show="mode == ''">

        <div style="float:left;width:150px;margin-right:10px">
            <p i18n="283" class="small">The colours against the layers are like traffic lights. Green implies the layer
                is
                uncorrelated to all selected layers, orange implies some correlation while red implies high correlation.
                As you select layers, the colours change to reflect correlation with already selected layers. For
                example a red layer implies high correlation with at least one selected layer while a green layer
                implies little or no correlation to any selected layer
                <br/>
                Note: The correlations are currently based on full layer spatial extents and not any selected sub-area.
            </p>
        </div>

        <div class="container" style="width:650px;float:right">
            <div style="margin-left: -15px;">
                <div ng-hide="layers == undefined || layers.length == 0">
                    <label i18n="226" style="width:120px">Search</label><input style="width:300px" layer-auto-complete
                                                                               environmental="true" contextual="true"
                                                                               on-custom="add">

                    <br/>
                    <label i18n="227" style="width:120px;">Filter</label><input type="text" width="150px"
                                                                                placeholder="Filter layers"
                                                                                ng-model="searchLayer">
                    <label style="padding-left:20px;" ng-show="searchLayer.length > 0">{{(layers |
                        filter:searchLayer).length}} <span i18n="228">matching layers</span></label>

                    <table class="table table-striped fixed-head layers-table" id="layersList">
                        <thead>
                        <tr>
                            <th style="width:20px"></th>
                            <th style="width:20px"></th>
                            <th style="width:300px">
                                <div href="#" ng-click="sortType = 'classification'; sortReverse = !sortReverse">
                                    <span i18n="229">Classification</span>
                                    <span ng-show="sortType == 'classification' && !sortReverse"
                                          class="glyphicon glyphicon-chevron-down"></span>
                                    <span ng-show="sortType == 'classification' && sortReverse"
                                          class="glyphicon glyphicon-chevron-up"></span>
                                </div>
                            </th>
                            <th style="width:300px">
                                <div href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                                    <span i18n="151">Name</span>
                                    <span ng-show="sortType == 'name' && !sortReverse"
                                          class="glyphicon glyphicon-chevron-down"></span>
                                    <span ng-show="sortType == 'name' && sortReverse"
                                          class="glyphicon glyphicon-chevron-up"></span>
                                </div>
                            </th>
                            <th style="width:10px"></th>
                            <th style="width:70px">
                                <div href="#" ng-click="sortType = 'dist'; sortReverse = !sortReverse">
                                    <span i18n="289">Dist</span>
                                    <span ng-show="sortType == 'dist' && !sortReverse"
                                          class="glyphicon glyphicon-chevron-down"></span>
                                    <span ng-show="sortType == 'dist' && sortReverse"
                                          class="glyphicon glyphicon-chevron-up"></span>
                                </div>
                            </th>
                        </tr>
                        </thead>
                        <tbody style="height:300px;overflow:scroll">
                        <tr ng-repeat="layer in layers | orderBy:sortType:sortReverse | filter:searchLayer"
                            name={{layer.id}}>
                            <td style="width:20px"><input type="checkbox" ng-model="layer.selected"
                                                          ng-click="toggle(layer)">
                            </td>
                            <td style="width:20px"><img
                                    ng-src="assets/icon_{{layer.type == 'e' ? 'grid':'contextual'}}-layer.png"></td>
                            <td style="width:300px">{{ layer.classification}}</td>
                            <td style="width:300px">{{ layer.name }}</td>
                            <td style="float:right">
                                <div i18n="109" class="glyphicon glyphicon-info-sign" ng-click="info(layer)">&nbsp;
                                </div>
                            </td>
                            <td i18n="130" style="width:10px;"
                                class="{{ layer.dist <= 0.1 ? 'bk-red' : (layer.dist <= 0.3 ? 'bk-yellow' : (layer.dist <= 1 ? 'bk-green' : 'bk-white'))}}">
                                &nbsp
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <div style="float:left">
                        <div class="btn-group btn-group-sm">
                            <button i18n="120" class="btn btn-default" ng-click="clearSelection()">Clear selection
                            </button>
                        </div>
                        <a style="padding-left:20px;" download="layerList.txt" ng-href="{{exportUrl}}"
                           ng-disabled="{{exportUrl == null}}">
                            <i class="glyphicon glyphicon-download-alt"></i>Export
                        </a>
                        <label style="padding-left:20px;"
                               class="{{validLayerSelection ? '' : 'red-text' }}">{{_selection.layers.length}} of
                            {{layers.length}} layers
                            selected</label>
                    </div>
                </div>

                <uib-progressbar ng-show="layers == undefined || layers.length == 0" class="progress-striped"
                                 ng-class="{ active: true }" value="100" type='info' title="Updating"><span i18n="47">Loading...</span>
                </uib-progressbar>

            </div>
        </div>
    </div>
</div>