<div>
    <label i18n="127" style=";width:70px">Facet</label>
    <select style=";width:300px" id='facet' ng-model="facet"
            ng-change="changeFacet()">

        <option value="search">Search facets...</option>

        <option disabled>--- Active Filters ---</option>

        <option ng-repeat="x in activeFacets" value="{{x.facet}}">
            {{x.name}}
        </option>

        <option ng-repeat="x in facets" value="{{x.facet}}"
                ng-disabled="x.separator">
            {{x.name}}
        </option>
    </select>
</div>

<div style="height:320px">
    <hr/>
    <span>Facet begins with (case sensitive):</span>
    <input style="width:200px" type="text" ng-model="activeFacet.facetFilter"/>
    <div class="btn-group btn-group-xs">
        <button i18n="141" ng-click="offset = 0; updatePage()" class="btn btn-default">
            apply filter
        </button>
        <button i18n="129" ng-click="clearFilter()" class="btn btn-default">clear filter
        </button>
    </div>

    <a download="facets list"
       ng-href="{{activeFacet.exportUrl}}" ng-show="activeFacet.exportUrl != null">
        <span style="float:right" i18n="51">Download</span><i class=" pull-right glyphicon glyphicon-download-alt"></i>
    </a>

    <table ng-hide="updatingPage" class="table layers-table table-striped"
           style="margin-top:10px;width:100%;height:250px;overflow:auto;display:block">
        <tr ng-repeat="x in activeFacet.facetList">
            <td style="width:20px"><input type="checkbox" ng-model="x.selected"
                                          ng-change="applySelection()"></td>
            <td style="width:330px;display: block;word-wrap:break-word;">{{x.displaylabel}}</td>
            <td style="width:100px">{{x.count}}</td>
            <td i18n="130" style="background-color:#{{formatColor(x)}};width:20px">&nbsp</td>
        </tr>
    </table>

    <div style="height:320px;overflow: hidden;" ng-show="updatingPage">
        <uib-progressbar class="progress-striped" ng-class="{ active: true }"
                         value="100"
                         type='info' title="Updating">loading...
        </uib-progressbar>
    </div>

    <div class="btn-group btn-group-xs">
        <button ng-click="previousPage()" class="btn btn-default" ng-disabled="offset == 0">
            <span i18n="110" aria-hidden="true">«</span>
        </button>
        <button ng-click="nextPage()" class="btn btn-default" ng-disabled="offset + pageSize >= max">
            <span i18n="111" aria-hidden="true">»</span>
        </button>
    </div>
    <span>Page {{(offset / pageSize) + 1}} of {{maxPages}}</span>

    <div style="float:right">
        <span style="color:red">{{activeFacet.selection.length}} facets selected</span>
        <div class="btn-group btn-group-xs">
            <button i18n="120" ng-click="clearSelection()" class="btn btn-default">Clear selection</button>
        </div>
    </div>
</div>