<div>
    <div ng-repeat="x in layerAreas" class="radio">
        <label>
            <input type="radio" ng-click="change(x)" ng-model="selected"
                   ng-value="x.uid" name="selectedArea">{{x.name}}</label><br/>
    </div>
    <br ng-show="layerAreas.length > 0"/>
    <div ng-repeat="x in defaultAreas" class="radio">
        <label>
            <input type="radio" ng-click="change(x)" ng-model="selected"
                   ng-value="x.name" name="selectedArea">{{x.name}}</label><br/>
    </div>
    <br ng-show="defaultAreas.length > 0" class="radio"/>

    <div>
        <label>
            <input type="radio" ng-click="createArea()" ng-model="selected"
                   ng-model="_selectedArea.area[0]" ng-value="create"
                   name="selectedArea"><span i18n="222">Define new area...</span></label><br/>
    </div>
</div>