<label>Select one or more layers. The layer sets use layer 'short name': see <a
        href="{{layersServiceUrl}}/layers/index" target="_blank">layers</a>
</label>
<br/>

<label style="width:120px">Add set a of layers</label><select ng-model='mode' ng-change='changeSelectedItem(mode)'>
    <option value="">Search layers</option>
    <option value="pasteLayers">Paste a layer set</option>
    <option value="uploadLayers">Upload a layer set</option>
    <option ng-repeat='x in predefinedLists' value='{{x.value}}'>{{x.label}}</option>
</select>
<br/>

<div ng-show="mode == 'uploadLayers'">
    <br/>
    <input type="file" id="file" name="file"/>
    <br/>
    <button class="btn btn-default" ng-click="mode = ''">cancel</button>
    <button class="btn btn-default" ng-click="upload()">Upload</button>
    <br/>

</div>

<div ng-show="mode == 'pasteLayers'">
    <textarea ng-model="pasteLayersTxt" style="height:200px;width:90%" name="pasteLayers"></textarea>
    <br/>
    <button class="btn btn-default" ng-click="mode = ''">cancel</button>
    <button class="btn btn-default" ng-click="addList(pasteLayersTxt);mode = ''">add</button>
</div>

<div ng-show="mode == ''">

    <label style="width:120px">Add from search</label><input style="width:300px" layer-auto-complete
                                                             environmental="true" contextual="true" on-custom="add">

    <br/>
    <label style="width:120px;">Filter table</label><input type="text" width="150px"
                                                                                  placeholder="Filter layers"
                                                                                  ng-model="searchLayer">

    <div class="container">
        <div style="margin-left: -15px;">
            <table class="table table-striped fixed-head">
                <thead style="display:block">
                <tr>
                    <th style="width:20px"></th>
                    <th style="width:20px"></th>
                    <th style="width:300px">
                        <a href="#" ng-click="sortType = 'classification'; sortReverse = !sortReverse">
                            Classification
                            <span ng-show="sortType == 'classification' && !sortReverse"
                                  class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'classification' && sortReverse" class="fa fa-caret-up"></span>
                        </a></th>
                    <th style="width:300px">
                        <a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                            Name
                            <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
                        </a></th>
                    <th style="width:10px"></th>
                    <th style="width:10px"></th>
                </tr>
                </thead>
                <tbody style="height:300px;overflow:scroll;display:block">
                <tr ng-repeat="layer in layers | orderBy:sortType:sortReverse | filter:searchLayer">
                    <td style="width:20px"><input type="checkbox" ng-checked="layer.selected" ng-click="toggle(layer)">
                    </td>
                    <td style="width:20px"><img
                            ng-src="assets/icon_{{layer.type == 'e' ? 'grid':'contextual'}}-layer.png"></td>
                    <td style="width:300px">{{ layer.classification}}</td>
                    <td style="width:300px">{{ layer.name }}</td>
                    <td style="float:right"><div class="glyphicon glyphicon-info-sign" ng-click="info(layer)">&nbsp;</div></td>
                    <td style="width:10px;"
                        class="{{ layer.dist <= 0.1 ? 'bk-green' : (layer.dist <= 0.3 ? 'bk-yellow' : (layer.dist <= 1 ? 'bk-red' : 'bk-white'))}}">
                        &nbsp
                    </td>
                </tr>
                </tbody>
            </table>

            <div style="float:left">
                <button class="btn btn-xs btn-default" ng-click="clearSelection()">Clear selection</button>
                <a download="layerList.txt"
                   ng-href="{{exportUrl}}" ng-disabled="{{exportUrl == null}}">
                    <i class="glyphicon glyphicon-download-alt"></i>Export
                </a>
                <label style="padding-left:20px;"
                       class="{{validLayerSelection ? '' : 'red-text' }}">{{_selection.layers.length}} layers
                    selected</label>
            </div>
        </div>
    </div>
</div>