<div>
    <div ng-repeat="x in layerAreas" class="radio">
        <label>
            <input type="radio" ng-click="change(x)" ng-model="selected"
                    name="{{_uniqueId}}"  testTag="selectArea" value="{{x.name}}" >{{x.name}}</label><br/>
    </div>
    <br ng-show="layerAreas.length > 0"/>
    <div ng-repeat="x in defaultAreas" class="radio">
        <label>
            <input type="radio" ng-click="change(x)" ng-model="selected"
                   ng-value="x.name" name="{{_uniqueId}}" testTag="selectArea">{{x.name}}</label><br/>
    </div>
    <br ng-show="defaultAreas.length > 0" class="radio"/>

    <div>
        <br/>
        <button type="button" class="btn btn-default btn-xs" ng-click="createArea()" ng-value="create" testTag="createArea">
            <span i18n="222">Define new area...</span></button>
        <br/>
    </div>
</div>