<div class="page-loading">
    <div class="progress">
        <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="100"
             aria-valuemin="0" aria-valuemax="100">
            <span i18n="47" class="sr-only">Loading...</span>
        </div>
    </div>
</div>

<div style="width:410px;margin-top:10px;padding-left:25px;overflow-y:auto;margin-left:-420px;"
     ng-style="(panelMode[0] == 'default' && {'overflow-y':'visible'}) || {'overflow-y':'scroll'}"
     class="pull-left"
     ng-controller="LayoutCtrl" id="left-panel">

    <div ng-show="panelMode[0] == 'default'">
        <div id="spMenu" sp-menu style="overflow-y:visible;overflow-x:visible"></div>
        <div class="ui-layout-container" id="defaultPanel" style="height:500px;width:400px;margin-left:-15px;">
            <div class="ui-layout-center ui-layout-pane ui-layout-pane-center">
                <div class="row" sp-map style="margin-left:15px;margin-right: 0px;height:100%;"></div>
            </div>

            <div class="ui-layout-south ui-layout-pane ui-layout-pane-south" name="divSelectedLayer" id="legend"
                 ng-show="showOptions[0] || showLegend[0] !== false"
                 style="display:block;overflow:hidden;background-color: #fff;height:100%">
                <div class="col-md-12" style="padding-left:0px;padding-right:0px;height:100%;padding-bottom:10px">
                    <div class="panel panel-default" style="overflow:hidden;height:100%">
                        <div class="panel-heading">
                            <i style="float:right" class="glyphicon glyphicon-menu-down"
                               ng-click="toggleOptions(false)"></i>
                            <h3 class="panel-title">
                                <div i18n="155" ng-show="showOptions[0]">Map options</div>
                                <div ng-show="showLegend[0] !== false" testTag="legendTitle">{{ showLegend[0].name}}</div>
                            </h3>
                        </div>
                        <div class="panel-body" style="padding-left:5px;overflow:auto;height:100%;">
                            <div sp-options ng-show="showOptions[0]" style="padding-right:15px"></div>
                            <div sp-legend ng-show="showLegend[0] !== false"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="panelMode[0] == 'area'" draw-area config='panelData.area'></div>
    <div ng-if="panelMode[0] == 'envelope'" envelope></div>
    <div ng-if="panelMode[0] == 'nearestLocality'" nearest-locality config='panelData.nearestLocality'></div>
    <div ng-if="panelMode[0] == 'pointComparison'" point-comparison config='panelData.pointComparison'></div>
</div>

<div id="right-panel">
    <area-create style="height:500px;width:500px;"></area-create>
    <div class="row" style="margin:0px" ng-controller="LeafletMapController as leafletMapController">
        <leaflet id="map" lf-center="australia" layers="layers" controls="controls"
                 bounds="bounds" defaults="defaults" width="100%" height="480px">
            <div class='alert alert-ala-danger alert-danger alert-dismissable hide' id='login-again-message'
                 role='alert'>
                <div class="container">
                    <div class="row-fluid">
                        <div class="">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close" title="Close">
                                <span i18n="1" aria-hidden="true">×</span></button>
                            <p><strong>Warning!</strong>
                                You lost authentication, <a href="#" class="alert-link" click="reconnect()"
                                                            name="saveAndLogin">Click</a>
                                to save and login again.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class='alert alert-ala-danger alert-danger alert-dismissable hide' id='reconnect-message' role='alert'>
                <div class="container">
                    <div class="row-fluid">
                        <div class="">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close" title="Close">
                                <span i18n="1" aria-hidden="true">×</span></button>
                            <p><strong>Warning!</strong> You lost connection to the server, reconnecting...</p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="alert alert-ala-danger alert-danger alert-dismissable hide" id="browser-supported-message"
                 role='alert'>
                <div class="container">
                    <div class="row-fluid">
                        <div class="">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close" title="Close">
                                <span i18n="1" aria-hidden="true">×</span></button>
                            <p><strong>Warning!</strong>
                                Your web browser is not fully supported!
                            </p>
                        </div>
                    </div>
                </div>

            </div>
            <leaflet-quick-links></leaflet-quick-links>
        </leaflet>
    </div>
</div>
<!--<http-ui></http-ui>-->
<div style="display:none" id="loginWorkaround"></div>