<div ng-show="_spatialValidity" class="checkbox">
    <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="_value.spatiallyValid" ng-disabled="_disabled"><span
                i18n="238">Include spatially-valid records</span>
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="_value.spatiallySuspect" ng-disabled="_disabled"><span i18n="239">Include spatially-suspect records</span>
        </label>
    </div>
    <hr ng-show="_areaIncludes || _endemicIncludes">
</div>

<div ng-show="_areaIncludes">
    <div class="checkbox">
        <label><input type="checkbox" ng-model="_value.includeExpertDistributions" ng-disabled="_disabled"><span
                i18n="240">Include Expert Distribution areas</span>
        </label>
    </div>
    <div class="checkbox">
        <label><input type="checkbox" ng-model="_value.includeAnimalMovement" ng-disabled="_disabled"><span
                i18n="241">Include Animal Movement Data</span>
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="_value.includeChecklists" ng-disabled="_disabled"><span
                i18n="242">Include Checklist areas</span>
        </label>
    </div>
    <hr ng-show="_endemicIncludes">
</div>

<div ng-show="_endemicIncludes">
    <div class="checkbox">
        <label><input type="checkbox" ng-model="_value.includeEndemic" ng-disabled="_disabled"><span i18n="268">Include Endemics</span>
        </label>
    </div>
    <hr>
</div>
</div>