<div class="modal-header">
    <button i18n="1" type="button" class="close" ng-click="$close()">×</button>
    <div class="modal-title">Species layer - {{speciesOrig.name}}</div>
</div>

<div class="modal-body">
    <table class="speciesInfoTable">
        <tbody>
        <tr class="row-gray">
            <td i18n="260" class="label-gray">Number of species:</td>
            <td></td>
            <td class="md_value">
                {{speciesCountAll}}
            </td>
        </tr>
        <tr>
            <td i18n="109">&nbsp;</td>
        </tr>
        <tr class="row-gray">
            <td i18n="264"
                class="label-gray">Number of occurrences:
            </td>
            <td></td>
            <td class="md_value">{{countAll}}
            </td>
        </tr>
        <tr>
            <td i18n="109">&nbsp;</td>
        </tr>
        <tr class="row-gray">
            <td i18n="265"
                class="label-gray">Classification (first 10):
            </td>
            <td></td>
            <td class="md_value"><span ng-repeat="x in lsids">
                <span ng-repeat="c in x.list">
                <a target="_blank" href="{{c.url}}">{{c.scientificName}} > </a>

            </span><br/><br/>

            </span>
            </td>
        </tr>
        <tr>
            <td i18n="109">&nbsp;</td>
        </tr>

        <tr class="row-gray">
            <td i18n="266"
                class="label-gray">List of LSIDs (first 10):
            </td>
            <td></td>
            <td class="md_value"><span ng-repeat="x in lsids">{{x.name}}, </span>
            </td>
        </tr>
        <tr>
            <td i18n="109">&nbsp;</td>
        </tr>

        <tr class="row-gray">
            <td i18n="495" class="label-gray">Data providers:</td>
            <td></td>
            <td class="md_value">
                <div ng-repeat="x in dataProviderList">
                    <span ng-if="x.count === undefined">{{x.name}}</span>
                    <span ng-if="x.count !== undefined">
                    <a target="_blank" href="{{collectoryLinkPrefix}}{{x.id}}">{{x.name}}</a>: {{x.count}} records<br/></span>
                </div>
            </td>
        </tr>
        <tr>
            <td i18n="109">&nbsp;</td>
        </tr>


        <tr class="">
            <td i18n="267" class="label-gray">QID</td>
            <td></td>
            <td
                    class="md_value">{{species.qid}}
            </td>
        </tr>

        <tr>
            <td i18n="109">&nbsp;</td>
        </tr>
        <tr class="">
            <td class="label-gray" colspan="3"><a
                    href="{{species.ws}}/occurrences/search?q={{species.qid}}&disableAllQualityFilters=true"
                    target="_blank">Table view of these records</a></td>
        </tr>
        <tr>
            <td i18n="109">&nbsp;</td>
        </tr>
        <tr class="">
            <td class="label-gray" colspan="3"><a
                    href="{{species.ws}}/download?searchParams=%3Fq%3D{{species.qid}}&targetUri=/occurrences/search%3F"
                    target="_blank">Standard download of these records</a></td>
        </tr>
        </tbody>
    </table>
    <h3 i18n="453">Charts</h3>
    <biocache-chart chart="chart" species="{{species.qid}}">
        <div id="charts" style="margin-top: 10px"></div>
    </biocache-chart>
</div>

<div class="modal-footer">
    <button i18n="38" class="btn btn-primary" type="button" ng-click="$close()">Close</button>
</div>
