<div class="modal-header">
    <div class="modal-title">Tabulate</div>
</div>

<div class="modal-body">
    <div class="container" >
        <uib-progressbar  ng-show="loading" class="progress-striped" ng-class="{ active: true }" ng-show="updating"
                          value="100"
                          type='info' title="Updating">loading...</uib-progressbar>

        <div ng-hide="loading">
            Select layers for tabulation.
            <br/>
            <br/>
            <span style="width:100px;display:inline-block">Layer 1</span>
            <select ng-model="layer1" style="font-size: 12px; width: 400px" >
                <option ng-repeat="x in tlayers" ng-value="x.id">{{x.name}}</option>
            </select>
            <br/><br/>
            <span style="width:100px;display:inline-block">Layer 2</span>
            <select ng-model="layer2" style="font-size: 12px; width: 400px" >
                <option ng-repeat="x in tlayers" ng-value="x.id">{{x.name}}</option>
            </select>
            <br/><br/>
            <span style="width:100px;display:inline-block">Type</span>
            <select ng-model="type">
                <option ng-repeat="x in types" ng-value="x">{{x}}</option>
            </select>
            <br/>
            {{msg}}
        </div>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$close()">Cancel</button>
    <button class="btn btn-primary" type="button" ng-click="ok()" ng-disabled="isDisabled()">Next &gt;</button>
</div>