<div class="modal-header">
    <button i18n="1" type="button" class="close" ng-click="close()">×</button>
    <h4 class="modal-title" testTag="modalTitle">{{spec.description}}</h4>
</div>

<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal" ng-init="stepCount = []">

                <div ng-show="stepView && (stage == 'input' || stage == 'edit')">
                    <div id="tool-items" ng-repeat="(key, sv) in stepView" ng-init="idx = $index"
                         class="panel panel-default" testTag="step{{$index}}">
                        <div ng-repeat="i in sv.inputArr"
                             ng-init="v=spec.input[i]; status_open = $first" ng-if="v.type != 'auto'"
                             heading="{{v.description}}" is-open="status_open" class="panel-default">

                            <div ng-if="i == sv.inputArr[0]" class="panel-heading" testTag="step{{stepCount[idx - 1] + $index + 1}}">
                                <h3 class="panel-title">{{stepCount[idx - 1] + $index + 1}}.&nbsp{{sv.name !== undefined
                                    ? sv.name : v.description}}
                                </h3>
                                <i style="float:right;font-size:20px;color:green;margin-top: -20px;"
                                   class="glyphicon glyphicon-ok"
                                   ng-hide="getInputChecks(i)"></i>
                                <div ng-show="getInputChecks(i)"
                                     style="float:right;font-size:15px;color:red;margin-top:-20px;">
                                    <i class="glyphicon glyphicon-asterisk"></i>
                                    Mandatory.
                                </div>
                            </div>
                            <div class="panel-body" ng-style="v.constraints.disable && {'display':'none'}">
                                <div ng-if="v.type == 'area' && !(v.constraints.max>1)">
                                    <div select-area selected-area="values[i]" unique-id="i"
                                         include-default-areas="v.constraints.defaultAreas"
                                         default-to-world="v.constraints.defaultToWorld"
                                         exclude-world="v.constraints.excludeWorld"></div>
                                </div>
                                <div ng-if="v.type == 'area' && v.constraints.max>1">
                                    <div select-multiple-area selected-area="values[i]" unique-id="i"
                                         include-default-areas="v.constraints.defaultAreas"></div>
                                </div>
                                <div ng-if="v.type == 'species'">
                                    <div select-species selected-q="values[i]" unique-id="i" min="v.constraints.min"
                                         area-includes="v.constraints.areaIncludes"
                                         spatial-validity="v.constraints.spatialValidity"
                                         species-option="v.constraints.speciesOption"
                                         absent-option="v.constraints.absentOption"
                                         can-add-species="v.constraints.canAddSpecies"
                                         date-range-option="v.constraints.dateRangeOption"
                                         lifeforms="v.constraints.lifeforms"
                                         import-list="v.constraints.importList"
                                         import-points="v.constraints.importPoints"
                                         search-species="v.constraints.searchSpecies"
                                         all-species="v.constraints.allSpecies">
                                    </div>
                                </div>
                                <div ng-if="v.type == 'date'">
                                    <div select-date_range selected-date-range="values[i]" unique-id="i" testTag="otherInput"></div>
                                </div>
                                <div ng-if="v.type == 'double'" testTag="otherInput">
                                    <label ng-if="sv.name !== undefined && sv.name !== v.description"
                                           style="margin-bottom:0px">{{v.description}}</label>
                                    <input style="width:300px" type="number" max="v.constraints.max"
                                           min="v.constraints.min"
                                           ng-model="values[i]">
                                </div>
                                <div ng-if="v.type == 'percent'" testTag="otherInput">
                                    <label ng-if="sv.name !== undefined && sv.name !== v.description"
                                           ng-bind="v.description"></label>
                                    <div class="col-sm-2 input-group">
                                        <input type="number" class="form-control" max="v.constraints.max"
                                               min="v.constraints.min" ng-model="values[i]" sp-percent>
                                        <span i18n="287" class="input-group-addon">%</span>
                                    </div>

                                </div>
                                <div ng-if="v.type == 'layer'">
                                    <div select-layers selected-layers="values[i]"
                                         min-count="v.constraints.min"
                                         max-count="v.constraints.max"
                                         mandatory="v.constraints.mandatory"
                                         environmental="v.constraints.environmental"
                                         contextual="v.constraints.contextual"
                                         analysis="v.constrains.analysis"
                                         unique-id="i"
                                    ></div>
                                </div>
                                <div ng-if="v.type == 'boolean'" testTag="otherInput" >
                                    <input type="checkbox" ng-model="values[i]">
                                    <label style="margin-bottom:0px">{{v.description}}</label>
                                </div>
                                <div ng-if="v.type == 'int'" testTag="otherInput">
                                    <label ng-if="sv.name !== undefined && sv.name !== v.description">{{v.description}}</label>
                                    <input style="width:300px" type="number" max="{{v.constraints.max}}"
                                           min="{{v.constraints.min}}"
                                           ng-model="values[i]">
                                    <label ng-if="v.constraints.header !== undefined">{{v.constraints.header}}</label>
                                </div>
                                <div ng-if="v.type == 'list' && v.constraints.selection == 'single'" testTag="otherInput">
                                    <label ng-if="sv.name !== undefined && sv.name !== v.description">{{v.description}}</label>
                                    <br ng-if="sv.name !== undefined && sv.name !== v.description"/>
                                    <select ng-model="values[i]"
                                            ng-options="item.value as item.label for item in v.constraints._list">
                                    </select>
                                    <label ng-if="v.constraints.header !== undefined">{{v.constraints.header}}</label>
                                </div>
                                <div ng-if="v.type == 'list' && v.constraints.selection != 'single'" testTag="otherInput">
                                    <label ng-if="sv.name !== undefined && sv.name !== v.description">{{v.description}}</label>
                                    <br ng-if="sv.name !== undefined && sv.name !== v.description"/>
                                    <div class='list-multiple' ng-repeat="item in v.constraints._list">
                                        <input class="list-multiple-checkbox" type='checkbox' value="item.value"
                                               ng-model="item.selected"><label class="list-multiple-label">{{item.label}}</label>
                                    </div>
                                    <label ng-if="v.constraints.header !== undefined">{{v.constraints.header}}</label>
                                </div>
                                <div ng-if="v.type == 'text'" testTag="otherInput">
                                    <label ng-if="sv.name !== undefined && sv.name !== v.description">{{v.description}}</label>
                                    <textarea class="form-control" rows="3" ng-model="values[i]"></textarea>
                                </div>
                                <div ng-if="v.type == 'string'" testTag="otherInput">
                                    <label ng-if="sv.name !== undefined && sv.name !== v.description">{{v.description}}</label>
                                    <input type="text" class="form-control" ng-model="values[i]"/>
                                </div>
                                <div ng-if="v.type == 'speciesOptions'">
                                    <div species-options value="values[i]"
                                         area-includes="v.constraints.areaIncludes"
                                         spatial-validity="v.constraints.spatialValidity"
                                         absent-option="v.constraints.absentOption"
                                         endemic-includes="v.constraints.endemicIncludes"
                                         disable-check="v.constraints.disable"
                                    ></div>
                                </div>
                                <div ng-if="v.type == 'facet'">
                                    <div select-facet selected-facet="values[i]"></div>
                                </div>
                                <div ng-if="v.type == 'annotation'">
                                    <div workflow-annotation value="values[i]"></div>
                                </div>
                            </div>
                        </div>
                        <span ng-repeat-end ng-init="stepCount[idx] = stepCount[idx - 1] + sv.inputArr.length"></span>
                    </div>
                </div>

                <div class="panel-body" ng-if="stage == 'execute' || stage == 'output'">
                    <div class="panel-body" ng-hide="isLocalTask()">
                        <uib-progressbar ng-show="statusRunning" class="progress-striped active"
                                         value="100" type='info' title="Updating">{{status}}
                        </uib-progressbar>
                        <uib-progressbar ng-show="!statusRunning" class=""
                                         value="100" type='info' title="Finished">{{status}}
                        </uib-progressbar>

                        <textarea class="logText" ng-model="logText"></textarea>
                    </div>
                    <div class="panel-body" ng-show="isLocalTask()">
                        <uib-progressbar class="progress-striped active"
                                         value="100" type='info' title="Updating"><span i18n="47">Loading...</span>
                        </uib-progressbar>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button i18n="45" class="btn btn-default" type="button" ng-click="close()" name="cancel">Cancel</button>
    <button i18n="39" class="btn btn-primary" type="button" ng-click="finish()" ng-hide="finished"
            ng-disabled="isDisabled() || (stage != 'input' && stage != 'edit')" name="next">Next &gt;
    </button>

    <a download ng-href="{{downloadUrl}}" style="float:left" ng-show="finished && downloadUrl">
        <i class="glyphicon glyphicon-download-alt"></i><span i18n="275">Download Result</span>
    </a>

    <button i18n="276" class="btn btn-primary" type="button" ng-click="close()" ng-show="finished">Finished &gt;
    </button>
</div>
