.ui-front {
    z-index: 1100;
}

.leaflet-draw {
    display: none
}

.species-spinner {
    background: url(../images/spinner.gif);
    background-repeat: no-repeat;
    background-position-x: 100%;
}

.popup-spinner {
    background: url(../images/spinner.gif);
    background-repeat: no-repeat;
    background-position-x: 100%;
}

.layer-selected {
    background-color: lightgray;
}

.angular-leaflet-control-layers {
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    z-index: 100;
    left: 10px;
    top: 100px;
    width: 200px;
    box-shadow: 1px 1px 5px #333;
    padding: 5px;
}

.angular-leaflet-control-layers .lf-row label {
    cursor: pointer;
    width: 75%;
}

.angular-leaflet-control-layers .lf-row .lf-icon-ol {
    padding-left: 8px;
}

.angular-leaflet-control-layers .lf-row .lf-icon {
    cursor: pointer;
    float: left;
    margin-right: 5px;
    padding-top: 2px;
}

.angular-leaflet-control-layers .lf-row label .lf-text {
    float: left;
}

.angular-leaflet-control-layers .lf-row .lf-icon-ol-group {
    color: #00650a;
}

.angular-leaflet-control-layers .lf-row .lf-icons {
    float: right;
}

#main {
    padding: 0px 0px 0px 15px;
    margin-top: -30px;
}

.container {
    width: 100%;
}

.layer-list {
    margin-left: -15px;
}

.list-group-item {
    padding: 3px;
    font-size: 12px;
}

.list-group {
    margin-bottom: 0px;
}

label {
    font-size: 12px;
    font-weight: 400;
}

.ui-slider-tick {
    position: absolute;
    background-color: #aaa;
    width: 2px;
    height: 8px;
    top: 16px;
}

.ui-slider {
    position: relative;
}

.ui-slider-out-of-bounds {
    position: absolute;
    background-color: #EEE;
    height: 100%;
}

.ui-slider-tip {
    position: absolute;
    top: 2px;
    left: 0px;
    width: 21px;
    text-align: center;
    font-size: 0.8em;
}

.form-group {
    margin-bottom: 0px;
}

.noborder div {
    border: none;
    zoom: 1;
    background: white;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
    padding: 1px 2px 0px 0px;
    height: 12px;
    width: 12px;
    cursor: pointer;
    display: inline-block;
}

td {
    padding: 0px;
    font-size: 12px;
}

tr, .table > tbody > tr > td {
    padding: 0px;
}

/** leaflet css **/
.leaflet-control-layers {
    display: none;
}

.leaflet-control-quicklinks {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
    background: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}

.leaflet-control-quicklinks-body {
    padding: 10px;
}

/** END leaflet css **/

table {
    margin-bottom: 0px;
}

.modal-full {
    margin-top: 0px;
    margin-bottom: 0px;
    height: 100%;
    width: 95%;
}

.modal-header {
    border-bottom: 0px;
}

input[type=radio] {
    margin-right: 10px;
}

form input[type=checkbox] {
    margin-right: 10px;
}

.red-text {
    color: red
}

.bk-red {
    background-color: red
}

.bk-yellow {
    background-color: yellow
}

.bk-green {
    background-color: green
}

.bk-white {
    background-color: white
}

.row-gray {
    background-color: lightgray;
}

.label-gray {
    font-weight: bold;
    padding: 5px;
    vertical-align: top;
}

.row-gray > td {
    padding: 5px;
}

.speciesInfoTable {
    width: 100%;
}

/*******************************/
/* scatterplot start           */
/*******************************/
.chartDiv {
    float: left;
    padding: 0;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    cursor: crosshair;
    border: 0;
    margin: 0;
    width: 380px;
    height: 380px;
    background-repeat: no-repeat;
}

#rband {
    position: absolute;
    display: none;
    width: 0px;
    height: 0px;
    padding: 0;
    cursor: crosshair;
    border: 2px solid red;
    background-color: white;
    opacity: 0.50;
    filter: alpha(opacity=50);
}

/*******************************/
/* scatterplot end             */
/*******************************/

/** google places **/

.pac-container {
    z-index: 1050;
}

/** google places end**/

.layer-intersection-panel-body {
    max-height: 150px;
    overflow-y: auto;
}

.leaflet-quick-links-text {
    white-space: nowrap;
    max-width: 100px;
    overflow: hidden; /* "overflow" value must be different from "visible" */
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align: middle;
}

ol.leaflet-quick-links {
    padding-left: 20px;
    max-height: 200px;
    overflow-y: auto;
}

ol.leaflet-quick-links li {
    font-size: 12px;
}

.leaflet-quick-links-heading {
    border-bottom: solid #efeeee 1px;
    padding-bottom: 5px;
    padding-left: 5px;
    margin-bottom: 5px;
}

/** playback css **/
.padding-top-5 {
    padding-top: 5px;
}

/** playback css end **/

.process-description {
    margin-bottom: 10px;
    font-style: italic;
    display: block;
}

.modal-sp {
    width: 80%;
}

.modal-sm {
    width: 400px;
}

/** thead padding must match tbody matching for fixed-head tables **/
.table > thead > tr > th {
    padding: 0px;
}

.modal h4 {
    text-align: left;
}

.leaflet-control-mouseposition {
    background: rgba(255, 255, 255, 0.5);
}

.leaflet-popup-content {
    margin: 0px;
}

.leaflet-popup-close-button {
    z-index: 9999;
}

.leaflet-container {
    cursor: pointer;
}

.autocomplete-item {
    font-size: 12px;
}

.autocomplete-item i {
    font-size: 10px;
}

.ui-widget-content {
    background-color: white;
}

.ui-menu {
    list-style: none;
    padding: 2px;
    margin: 0;
    display: block;
    outline: none;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    border-style: none;
}

.ui-widget-content {
    background: white;
}

.list-group-item {
    margin-left: 15px;
}

.navbar-collapse.collapse, .navbar-toggle.collapse { display: none !important; }
.navbar-collapse.in, .navbar-toggle { display: block !important; }

.progress {
    height: 22px;
}

.modal-lg {
    width: 900px !important;
}