div#statusInfo {
    position:absolute;
    margin: 10px 60px;
    z-index:99;
    border-radius:5px;
    opacity:0.9;
    box-shadow: 2px 2px  1px rgba(0,0,0,0.6);
    -moz-box-shadow: 2px 2px  1px rgba(0,0,0,0.6);
    -webkit-box-shadow: 2px 2px  1px rgba(0,0,0,0.6);
    -o-box-shadow: 2px 2px  1px rgba(0,0,0,0.6);
}

.ui-front {
    z-index: 1100;
}

.leaflet-draw {
    display: none
}

.species-spinner {
    background: url(../images/spinner.gif);
    background-repeat: no-repeat;
    background-position-x: 100%;
    display: inline-block;
    background-size: contain;
}

.csv-table > tbody > tr > td {
    overflow: auto;
    white-space: nowrap;
}

.popup-spinner {
    background: url(../images/spinner.gif);
    background-repeat: no-repeat;
    background-position-x: 100%;
}

.layer-selected, .list-group-item.layer-selected:hover {
    background-color: lightgray;
}

.footer-container {
    display: inline-block;
}

.collapse.in, .collapsing, .header-collapse {
    height: 340px;
    overflow-y: auto;
}

.list-group-item:hover {
    background-color: #eee;
}

.angular-leaflet-control-layers {
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    z-index: 100;
    left: 10px;
    top: 100px;
    width: 200px;
    box-shadow: 1px 1px 5px #333;
    padding: 5px;
}

.angular-leaflet-control-layers .lf-row label {
    cursor: pointer;
    width: 75%;
}

.angular-leaflet-control-layers .lf-row .lf-icon-ol {
    padding-left: 8px;
}

.angular-leaflet-control-layers .lf-row .lf-icon {
    cursor: pointer;
    float: left;
    margin-right: 5px;
    padding-top: 2px;
}

.angular-leaflet-control-layers .lf-row label .lf-text {
    float: left;
}

.angular-leaflet-control-layers .lf-row .lf-icon-ol-group {
    color: #00650a;
}

.angular-leaflet-control-layers .lf-row .lf-icons {
    float: right;
}

#main {
    padding: 0px 0px 0px 0px;
}

.container {
    width: 100%;
}

.layer-list {
    margin-left: -15px;
}

.list-group-item {
    font-size: 14px;
    margin-left: 15px;
    border-radius: 4px;
    padding: 8px;
    line-height: 1em;
    vertical-align: top;
    border-top: 1px solid ;
    font-weight: 300;
    margin-top: 2px;
    border-color: #999999;
}

.list-group {
    margin-bottom: 0px;
}

label {
    font-size: 14px;
    font-weight: 400;
}

.ui-slider-tick {
    position: absolute;
    background-color: #aaa;
    width: 2px;
    height: 8px;
    top: 16px;
}

.ui-slider {
    position: relative;
}

.ui-slider-out-of-bounds {
    position: absolute;
    background-color: #EEE;
    height: 100%;
}

.ui-slider-tip {
    position: absolute;
    top: 2px;
    left: 0px;
    width: 21px;
    text-align: center;
    font-size: 0.8em;
}

.form-group {
    margin-bottom: 0px;
}

.noborder div {
    border: none;
    zoom: 1;
    background: white;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
    padding: 1px 2px 0px 0px;
    height: 12px;
    width: 12px;
    cursor: pointer;
    display: inline-block;
}

td {
    padding: 0px;
    font-size: 12px;
}

/** leaflet css **/
.leaflet-control-layers {
    display: none;
}

.coord {
    width: 50px;
    float: right;
    display: inline-block;
}

.leaflet-control-quicklinks, .leaflet-control-mouseposition {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
    background: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}

.leaflet-control-quicklinks-body, .leaflet-control-mouseposition {
    padding: 10px;
}

/** END leaflet css **/

table {
    margin-bottom: 0px;
}

.modal-full {
    margin-top: 0px;
    margin-bottom: 0px;
    height: 100%;
    width: 95%;
}

input[type=radio] {
    margin-right: 10px;
}

form input[type=checkbox] {
    margin-right: 10px;
}

.red-text {
    color: #D5502A
}

.bk-white {
    background-color: white
}

.row-gray {
    background-color: lightgray;
}

.label-gray {
    font-weight: bold;
    padding: 5px;
    vertical-align: top;
}

.row-gray > td {
    padding: 5px;
}

.speciesInfoTable {
    width: 100%;
}

/*******************************/
/* scatterplot start           */
/*******************************/
.chartDiv {
    float: left;
    padding: 0;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    cursor: crosshair;
    border: 0;
    margin: 0;
    width: 380px;
    height: 380px;
    background-repeat: no-repeat;
}

#rband {
    position: absolute;
    display: none;
    width: 0px;
    height: 0px;
    padding: 0;
    cursor: crosshair;
    border: 2px solid #D5502A;
    background-color: white;
    opacity: 0.50;
    filter: alpha(opacity=50);
}

/*******************************/
/* scatterplot end             */
/*******************************/

/** google places **/

.pac-container {
    z-index: 1050;
}

/** google places end**/

.layer-intersection-panel-body {
    max-height: 150px;
    overflow-y: auto;
}

.leaflet-quick-links-text {
    white-space: nowrap;
    max-width: 100px;
    overflow: hidden; /* "overflow" value must be different from "visible" */
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align: middle;
}

ol.leaflet-quick-links {
    padding-left: 20px;
    max-height: 100px;
    overflow-y: auto;
    margin-bottom: 0px;
}

ol.leaflet-quick-links li {
    font-size: 12px;
}

.leaflet-quick-links-heading {
    border-bottom: solid #efeeee 1px;
    padding-bottom: 5px;
    padding-left: 5px;
    margin-bottom: 5px;
}

/** playback css **/
.padding-top-5 {
    padding-top: 5px;
}

/** playback css end **/

.process-description {
    display: inline-block;
    font-weight: bold;
    margin-left: -10px;
    margin-bottom: 20px;
    font-size: 20px;
    color: gray;
}

.modal-sp {
    width: 80%;
}

.modal-sm {
    width: 400px;
}

.modal h4 {
    text-align: left;
}

.leaflet-control-mouseposition {
    background: rgba(255, 255, 255, 0.5);
}

.leaflet-popup-content {
    margin: 0px;
}

.leaflet-popup-close-button {
    z-index: 9999;
}

.leaflet-container {
    cursor: pointer;
}

.autocomplete-item {
    font-size: 12px;
}

.autocomplete-item i {
    font-size: 10px;
}

.ui-menu .ui-menu-item a.ui-state-focus {
    background-image: none !important;
    background-color: #df4a21;
    color: #fff;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.pac-item:hover {
    background-image: none !important;
    background-color: #df4a21;
    color: #fff;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.ac_results li {
    margin: 0px;
    padding: 7px;
    cursor: default;
    display: block;
    font-size: 14px;
    line-height: 16px;
    overflow: hidden;
    text-align: left;
    color: #333a3f;
}

.ui-widget-content {
    background-color: white;
}

.ui-menu {
    list-style: none;
    padding: 2px;
    margin: 0;
    display: block;
    outline: none;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    border-style: none;
}

.ui-widget-content {
    background: white;
}

/*.navbar-collapse.collapse { display: none !important; }*/
.navbar-collapse.in, .navbar-toggle { display: block !important; }

.progress {
    height: 22px;
}

.modal-lg {
    width: 900px !important;
}

.modal {
    background: transparent;
}

.glyphicon {
    margin: 2px;
}

label {
    margin-bottom: 10px;
}

#tool-items > :first-child > hr {
    display: none;
}

.well {
    margin-bottom: 0px;
}

.panel-body {
    padding-bottom: 5px;
}

/* header styles */
navbar-header {
    margin-top: -10px;
}

#global-search {
    padding-top:0px;
}

.icon-addon.addon-lg .glyphicon {
    top: 3px;
}

.nav-logged-in {
    font-weight: 200;
}

#expand-div {
    position: absolute;
    float: right;
    width: 100%;
    margin-top: -5px;
}

form.banner {
    padding-top: 0px;
}

#biesearch-dropdown {
    padding-top: 20px;
    padding-bottom: 20px;
    display: inline-block;
    width: 100%;
}

#global-dropdown > div > .form-control {
    width:100%
}

.navbar>.container .navbar-brand {
    margin-left: 0px;
}

.divider {
    height: 5px;
    border-bottom: 1px lightgray solid;
}

#login-buttons > ul > li:last-child {
    margin-right: 70px;
}

#expand-button {
    margin-right: 25px;
}

.navbar {
    border-bottom: 0px;
    border-bottom-width: 0px;
    margin-bottom: 0px;
    min-height: 72px;
}

.list-group:focus, .list-group-item:focus {
    outline: none;
}

.icon-expand-left { background-image: url(icon-expand-left.png); background-size: 26px 26px; }
.icon-expand-up { background-image: url(icon-expand-up.png); background-size: 26px 26px; }
.icon-expand-right { background-image: url(icon-expand-right.png); background-size: 26px 26px; }
.icon-expand-down { background-image: url(icon-expand-down.png); background-size: 26px 26px; }

.icon-images, .icon-poi {
    background-image: url(images_on.png);
    background-size: 18px 18px;
}

.icon-exit-images, .icon-exit-poi {
    background-image: url(images_off.png);
    background-size: 18px 18px;
}

.icon-spin-images, .icon-spin-poi {
    background: url(../images/spinner.gif);
    background-repeat: no-repeat;
    background-position-x: 100%;
    display: inline-block;
    background-size: contain;
    background-size: 18px 18px;
}

.floating-spinner {
    background: url(../images/spinner.gif);
    background-repeat: no-repeat;
    background-size: 50px 50px;
    z-index:9999;
    margin: 0 auto;
    position: absolute;
    left: 50%;
}

.inline-spinner {
    background: url(../images/spinner.gif);
    background-repeat: no-repeat;
    background-size: 16px 16px;
    height: 16px;
    width: 16px;
}

#legend {
    margin-right:0px;
}

body {
    padding-top: 0px;
}

.dropdown-menu {
    z-index: 10000;
}

.ui-layout-pane {
    border: 0px;
    padding: 0px;
}

.ui-layout-toggler {
    background-color: #D5502A;
}

.ui-layout-toggler-south-closed {
    height: 50px;
}

.leaflet-popup-content-wrapper {
    border-radius: 0px;
    padding: 0px;
}

.leaflet-popup-content > div {
    padding: 1px;
    border: 1px solid #999;
}

.popover.top {
    margin-top:0px;
    display: block;
}

/* Popover
================================= */
.bs-example {margin: 30px 0;}

.bs-example .popover.top, .bs-example .popover.left, .bs-example .popover.right, .bs-example .popover.bottom {
    margin: inherit;
}

.bs-example .popover {
    position: relative;
    display: block;
    float: left;
    z-index: 990;
    width: 260px;
    margin: 20px;
}
.popover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1010;
    display: none;
    max-width: 276px;
    padding: 1px;
    text-align: left;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid #999;
    border-radius: 0;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    white-space: normal;
}

.popover-title {
    padding: 8px 14px;
    margin: 0;
    font-size: 14px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #999;
    border-radius: 0;
}

.popover > .arrow,
.popover > .arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}
.popover > .arrow {
    border-width: 11px;
}
.popover > .arrow:after {
    border-width: 10px;
    content: "";
}
.popover.top > .arrow {
    left: 50%;
    margin-left: -11px;
    border-bottom-width: 0;
    border-top-color: #999999;
    bottom: -11px;
}
.popover.top > .arrow:after {
    content: " ";
    bottom: 1px;
    margin-left: -10px;
    border-bottom-width: 0;
    border-top-color: #ffffff;
}
.popover.right > .arrow {
    top: 50%;
    left: -11px;
    margin-top: -11px;
    border-left-width: 0;
    border-right-color: #999999;
}
.popover.right > .arrow:after {
    content: " ";
    left: 1px;
    bottom: -10px;
    border-left-width: 0;
    border-right-color: #ffffff;
}
.popover.bottom > .arrow {
    left: 50%;
    margin-left: -11px;
    border-top-width: 0;
    border-bottom-color: #999999;
    top: -11px;
}
.popover.bottom > .arrow:after {
    content: " ";
    top: 1px;
    margin-left: -10px;
    border-top-width: 0;
    border-bottom-color: #ffffff;
}
.popover.left > .arrow {
    top: 50%;
    right: -11px;
    margin-top: -11px;
    border-right-width: 0;
    border-left-color: #999999;
}
.popover.left > .arrow:after {
    content: " ";
    right: 1px;
    border-right-width: 0;
    border-left-color: #ffffff;
    bottom: -10px;
}

#flex-container {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    width: 100%;
    top: 0px !important;
    left: 0px;

    /* these 3 lines are to prevents an unsightly scrolling bounce affect on Safari */
    height: 100%;
    width: 100%;
    overflow: auto;
}
#flex-container>div {
    flex-grow: 1;
    -webkit-flex-grow: 1;
    position: relative;
}
#flex-container>div#gutter {
    flex: 0 0 60px;
    -webkit-flex: 0 0 60px;
    border-left: 1px solid #999999;
    border-right: 1px solid #999999;
    background-color: #efefef;
    overflow: hidden;
}
#gutter svg {
    background-color: #efefef;
}

#editor1 {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}
#editor2 {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}
.acediff-diff {
    background-color: #d8f2ff;
    border-top: 1px solid #a2d7f2;
    border-bottom: 1px solid #a2d7f2;
    position: absolute;
    z-index: 4;
}
.acediff-diff.targetOnly {
    height: 0px !important;
    border-top: 1px solid #a2d7f2;
    border-bottom: 0px;
    position: absolute;
}
.acediff-connector {
    fill: #d8f2ff;
    stroke: #a2d7f2;
}

.acediff-copy-left {
    float: right;
}
.acediff-copy-right,
.acediff-copy-left {
    position: relative;
}
.acediff-copy-right div {
    color: #000000;
    text-shadow: 1px 1px #ffffff;
    position: absolute;
    margin: -3px 2px;
    cursor: pointer;
}
.acediff-copy-right div:hover {
    color: #004ea0;
}
.acediff-copy-left div {
    color: #000000;
    text-shadow: 1px 1px #ffffff;
    position: absolute;
    right: 0px;
    margin: -3px 2px;
    cursor: pointer;
}
.acediff-copy-left div:hover {
    color: #c98100;
}


.page-loading {
    position:absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width:100%;
    background: #fff;
    z-index:99999;
}

.page-loading > .progress {
    position:absolute;
    margin: auto;
    top:0px;
    left:0;
    right:0;
    bottom:62px;
    width:300px;
}

.page-loading > .progress > .progress-bar {
    width:300px;
}

.page-loading > .progress > .progress-bar > .sr-only {
    position: relative;
}

.area-types {
    display: inline-block;
    padding: 10px;
    vertical-align: top;
    width: 350px;
}

.area-types > label {
    margin-bottom: -20px;
    font-weight: 700;
}


.layers-table {
    padding: 0px;
}

.layers-table > tbody {
    padding: 0px;
}


.layers-table > tbody > tr > td {
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 0px;
    padding-bottom: 0px;
}



.layers-table > tbody > tr > td.bk-green, .bk-green {
    background-color: green
}


.layers-table > tbody > tr > td.bk-red, .bk-red {
    background-color: #D5502A
}

.layers-table > tbody > tr > td.bk-yellow, .bk-yellow {
    background-color: yellow
}

.fixed-head > thead {
    display:table;
    table-layout: fixed;
}

.fixed-head > tbody {
    display: block;
    table-layout: fixed;
    overflow: auto;
}

.fixed-head > tbody > tr {
    display:table;
    table-layout: fixed;
}

#main h3 {
    margin-bottom: 0px;
}

.leaflet-popup-tip-container {
    display: block;
    border: 0px;
    margin-top: -10px;
    padding: 0px;
    box-shadow: none;
    background-color: transparent;
    z-index: 1010;
    background-clip: padding-box;
    max-width: 276px;
}

.leaflet-popup-tip {
    left: 50%;
    margin-left: -11px;
    bottom: -11px;
    border-top-color: #999;
    border-width: 11px;
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;

    top: 0px;
    box-shadow: none;
}

.leaflet-popup-tip:after {
    content: "";
    border-width: 10px;
    bottom: 1px;
    margin-left: -10px;
    border-top-color: #fff;
    border-bottom-width: 0;
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}

.modal-dialog {
    margin-top: 0px;
}

.panel {
    margin-bottom: 10px;
}

.i18n-btn {
    position: absolute;
    opacity: 0;
}

.i18n-hover {
    border: 1px dotted red;
    margin: -1px;
    color: red;
}

.i18n-edit {
    position: absolute;
    background: lightgray;
    width: 100%;
    top: 0px;
    z-index: 1000000;;
}

#login-again-message, #reconnect-message, #browser-supported-message, #warning-message {
    margin-left: 50px;
    margin-right: 50px;
    position: relative;
    z-index: 99999;
}

.glyphicon-hide {
    color: transparent;
}

.modeless {
    pointer-events: none;
}

.modeless + .modal-backdrop {
    display: none;
}

.modeless > .modal-dialog > .modal-content {
    border-radius: 6px 6px 0 0;
    border: 2px solid;
    pointer-events: all;
}

.modeless > .modal-dialog {
    margin: 0px;
}

.modeless > .modal-dialog > .modal-content > .modal-body {
    height: 500px;
    overflow-y: auto;
}

.modal.in .modal-dialog {
    height: 100%;
    margin-bottom: 0px;
}

.modal-footer {
    position: fixed;
    position: sticky;
    position: -webkit-sticky;
    bottom: 0px;
    right: 1px;
    left: 1px;
    background-color: white;
}

.modal-body {
    position: relative;
    padding: 15px;
}

.modal-content {
    max-height: 100%;
    overflow-y: auto;
}

.img-thumbnail {
    display: block;
    margin: 0 auto;
    width: 250px
}

.leaflet-div-icon {
    border: 0px;
}

img.map-icon {
    max-width: 100px;
    max-height: 100px;
}

.logText {
    height: 300px;
    width: 100%;
    overflow: auto;
    display: block;
    font-size: 12px;
}

ul.errors {
    padding-top: 150px
}

#doiAutoComplete {
    width: 400px;
}

.popover {
    max-width: none;
}

.ui-autocomplete .ui-menu-item-wrapper {
    display: block;
}

.save-load {
    color: white;
    padding-right: 20px;
}

.workflow-annotation .form-group {
    margin-bottom: 5px;
}

.inactive .ui-widget-header {
    background-color: #999999;
    background-image: none;
}

.list-multiple {
    display: inline-flex;
    width: 200px;
    padding: 5px;
}


::-webkit-input-placeholder {
    color: #aaa;
}

:-ms-input-placeholder {
    color: #aaa;
}

::placeholder {
    color: #aaa;
}

.leaflet-control-measure .leaflet-control-measure-toggle, .leaflet-control-measure .leaflet-control-measure-toggle:hover {
    width: 26px;
    height: 26px;
}

.text-warning {
    color: #c44d34;
}

.notice {
    padding-top: 20px;
    font-style: italic;
}

#lang {
    color: #FFFFFF;
    background-color: #000000;
    border-width: 0;
}
