<div class="modal-header">
    <h4 class="modal-title">Import prior analysis</h4>
</div>

<div class="modal-body" style="padding:20px">
    <label style="width: 100px" for="analysisId">Analysis ID</label>
    <input type="text" style="width:50%" ng-model="analysisId" id="analysisId">
</div>

<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
    <button class="btn btn-primary" type="button" ng-click="ok()" ng-disabled="analysisId.length() == 0">Next ></button>
</div>