<div class="modal-header">
    <h4 class="modal-title">Restore previous analysis</h4>
</div>

<div class="modal-body">
    <div class="row">
        <div class="col-sm-4">
            Task id
        </div>
        <div class="col-sm-4">
            <input type="number" min="0" ng-model="taskId"/>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
    <button class="btn btn-primary" type="button" ng-click="ok()">Next ></button>
</div>