<h4>Map options</h4>
<span><b>Base map</b></span>

<form>
    <ul ng-repeat="x in baselayers" class="list-group">
        <li class="list-group-item">
            <input type="radio" ng-model="selection.name" value="{{x.name}}"
                   ng-change="select(x.key)">
            {{x.name}}
            <a style="float:right" ng-show="x.link != null" class="icon-info-sign"
               href="{{x.link}}" target="_blank">&nbsp;</a>
            <i style="float:right" ng-show="x.url != null" class="icon-info-sign"
               ng-click="info(x.url)"></i>
        </li>
    </ul>
</form>

<br>

<div style="float:right">
    <button class="btn btn-sm" ng-click="addWMSLayer()">Add WMS Layer</button>
    <button class="btn btn-sm" ng-click="downloadMap()">Download map</button>
    <button class="btn btn-sm" ng-click="resetMap()">Reset map</button>
</div>