<div class="container">
    <form>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-search"></i></div>
                <input type="text" class="form-control" placeholder="Search Dataset" ng-model="searchSandbox">
            </div>
        </div>
    </form>

    <div>
        <table class="table table-bordered table-striped">
            <thead style="display:block">
            <tr>
                <td></td>
                <td>
                    <a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                        name
                        <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
                    </a></td>
                <td><a href="#" ng-click="sortType = 'updated'; sortReverse = !sortReverse">
                    last updated
                    <span ng-show="sortType == 'updated' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'updated' && sortReverse" class="fa fa-caret-up"></span>
                </a></td>
                <td>
                    <a href="#" ng-click="sortType = 'count'; sortReverse = !sortReverse">
                        number of records
                        <span ng-show="sortType == 'count' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'count' && sortReverse" class="fa fa-caret-up"></span>
                    </a></td>
            </tr>
            </thead>
            <tbody style="height:300px;overflow:scroll;display:block">
            <tr ng-repeat="item in sandboxItems | orderBy:sortType:sortReverse | filter:searchSandbox">
                <td><input type="checkbox" ng-model="item.selected" ng-click="select(item)"></td>
                <td>{{ item.name }}</td>
                <td>{{ item.lastUpdated }}</td>
                <td>{{ item.numberOfRecords }}</td>
            </tr>
            </tbody>
        </table>

        <div class="col-md-12 text-center">
            <ul class="pagination pagination-lg pager" id="myPager"></ul>
        </div>
    </div>
</div>